.logTable {
  .status {
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
  }
  .issue {
    cursor: pointer;
    color: #415BC9;
  }
  .tipIcon {
    color: var(--text-color3) !important;
    transform: scale(0.9);
    margin-top: -3px;
    margin-left: 1px;
  }
  .header_span {
    font-weight: 400;
  }
}
