.issueIndex {
  .searchTotalRow {
    display: flex;
    .search {
      flex: 1;
    }
    .total {
      margin-top: 15px;
      font-weight: 500;
      padding-right: 8px;
      flex-shrink: 0;
    }
  }
  :global {
    .page-content {
      padding-bottom: 10px;
    }
    .c7n-pro-table-expanded-row > .c7n-pro-table-cell > .c7n-pro-table-cell-inner {
        padding: 0;
        padding-left: 45px;
        .c7n-pro-table  {
          border-top: none;
          .c7n-pro-table-content table {
            .c7n-pro-table-thead, .c7n-pro-table-tfoot, .c7n-pro-table-tbody {
              tr .c7n-pro-table-cell {
                background-color: #fff !important;
                border-right: none;
                border-top: none;
              }
            }
            .c7n-pro-table-tbody {
              tr .c7n-pro-table-cell {
                border-bottom: none;
                
              }
              .c7n-pro-table-row {
                .c7n-pro-table-cell-inner {
                  padding-left: 13px;
                }
              }
            }
          }
      }
    }
    .c7n-pro-pagination-wrapper {
      margin: 5px 0;
    }
  }
}
