.treeItemWrap {
  display: flex;
  align-items: center;
  position: relative;

  .treeItemDot {
    width: .04rem;
    height: .04rem;
    border-radius: 50%;
    background: var(--text-color);
    position: absolute;
    left: .24rem;
  }
}
