.c7n-agile-table-cell-click {
    color: #3F51B5;
    cursor: pointer;
    vertical-align: top;

    &:hover {
      text-decoration: underline;
    }
  }

  .c7n-agile-table-cell {
    color: rgba(0, 0, 0, 0.65);
  }
