.workbench_workingHours_pageWrap {
  :global {
    .c7n-tabs-bar {
      margin: 0 12px;
      top: 3px !important;
    }
    .c7n-agile-EditIssue-body {
        .c7n-tabs-bar {
          margin: 0 0 0.16rem 0 !important;
        }
    }
    .c7ncd-breadcrumb {
      border-bottom: none;
      height: 40px !important;
      min-height: 40px !important;
      .c7ncd-breadcrumb-menu {
        display: none;
      }
    }
    .page-tab-container {
      position: absolute;
      width: 100%;
      height: 100%;
      .page-head {
        z-index: 5;
        top: 5px;
      }
      .page-content {
        margin: 0;
        padding-top: 23px;
      }
      .c7n-working-hours-calendar-content {
        padding-top: 0!important;
        .c7n-working-hours-calendar-calendar {
          padding-top: 7px;
        }
      }
      .c7n-working-hours-issue-content {
        margin-top: -5px;
        .c7n-issue-search {
          margin-top: 0;
          margin-bottom: 2px;
        }
      }
      .c7nagile-detail-container {
        z-index: 1000;
      }
      .c7n-agile-table-cell-click {
        color: var(--table-click-color);
        cursor: pointer;
        vertical-align: top;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
