@prefixCls: c7n-agile-inject-custom-search-fields;

.@{prefixCls} {
  &-item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &-label {
      width: .7rem;
      padding-right: .1rem;
      // overflow: hidden;
      // text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-field {
      // width: ~"calc(100% - 1rem)";
      flex-shrink: 0;

      // border: none;
      ::placeholder {
        color: #9EADBE;
      }
    }

    &-del-btn {
      position: absolute;
      color: #5365EA;
      // bottom: 2
      right: -.06rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-item +&-item {
    margin-top: .1rem;
  }
}
