.c7nagile-StoryMap-StoryCard {
  background: rgba(174, 233, 224, 0.26);
  border: 1px solid #48EFD5;
  border-radius: 0.02rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    cursor: grab;
  }
  &-delete {
    color: #4A4A4A;
    cursor: pointer;
    display: none !important;
    position: absolute;
    right: 0.05rem;
    top: 0.05rem;
    font-size: 0.12rem !important;
  }

  &:hover &-delete {
    display: block !important;
  }

  .bottom {
    display: flex;
    align-items: flex-end;
    .status {
      margin-left: auto;
    }
  }

  &.completedCard {
    opacity: 0.65;
    .summary {
      text-decoration: line-through;
    }
  }
}
