.rule_modal {
    :global {
        .c7n-pro-modal-body {
            overflow-x: hidden;
            padding: 20px 0 20px;
        }
    }
}

.receiver {
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        color: #3F51B5;
    }
}