.table {
  width: 100%;
  overflow: hidden;

  :global {
    .ant-table.ant-table-small {
      font-size: 13px;
    }

    .ant-table-header {
      height: 37px;
    }

    tr.drop-over-downward td {
      border-bottom: 2px dashed #5365EA;
    }

    tr.drop-over-upward td {
      border-top: 2px dashed #5365EA;
    }
  }

  &_text {
    color: var(--text-color3);
    font-size: 12px;
  }
}

.default_status {
  color: #909090;
  display: inline-block;
  line-height: 20px;
  border-radius: 12px;
  border: 1px solid rgba(144, 144, 144, 1);
  padding: 0 5px;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 12px;
}

.check_all {
  margin-right: .04rem;
}

.del_btn {
  width: 26px !important;
  height: 26px !important;
}
