.version {
    display: inline-block;
    border-radius: 2px;
    padding: 0 7px;
    line-height: 20px;
    border: 0.01rem solid rgba(0, 0, 0, 0.36);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.workingHoursIssueTable {
  :global {
    .c7n-pro-table-body {
      max-height: unset !important;
      .c7n-pro-table-cell {
        .c7n-pro-table-cell-prefix {
          padding-right: 0 !important;
        }
      }
      
    }
  }
}
