@import '~choerodon-ui/lib/style/themes/default';

.SelectFocusLoad-loadMore {
  cursor: auto;

  .@{c7n-prefix}-checkbox-wrapper {
    display: none;
  }
}
.hidden-text {
  .c7n-input-rendered-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.minSelectFocusLoadDropDownWidth {
  min-width: 180px;
}
