.c7n-issue-search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 38px;
  &-left {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 15px;
  }

  &-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 30px;
  }

  &-urlFilter {
    height: 36px;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    border-radius: .04rem;
    display: flex;
    align-items: center;
    width: 100%;

    .icon {
      margin: 0 5px;
      color: rgba(0, 0, 0, 0.45);
    }

    &-item {
      height: 24px;
      line-height: 24px;
      background: rgba(0, 0, 0, 0.08);     
      border-radius: 12px;
      padding: 0 10px;
    }
  }
}
