.nav_list {
  width: 24px;
  border-right: 0.01rem solid var(--divider);

  .nav_item {
    cursor: pointer;
    background: rgba(83, 101, 234, 0.14);
    text-align: center;
    color: var(--text-color);
    padding: 10px 0;
    margin-top: 12px;

    & >span:first-child {
      writing-mode: vertical-lr;
      letter-spacing: .03rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  .nav_item_active {
    background: var(--primary-color) !important;
    color: white !important;
  }
}
