.operation {
  font-size: .13rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .16rem;
}

.wrap {
  margin-top: .3rem;
}

.node {
  width: 100%;
  // min-height: .3rem;
  border-radius: 2px;
  // cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;

  .top {
    width: 100%;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  &_left {
    display: inline-flex;
    align-items: center;
    color: #9A9FB0;

    &_icon {
      margin-right: .04rem;
      color: rgba(15, 19, 88, 0.65);
    }

    &_text {

      font-size: 13px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      line-height: 20px;
    }

    &_alias {
      font-weight: 500;
    }
  }

  &_btn {
    float: left;
    opacity: 1;

    & +& {
      margin-left: .1rem;
    }

    // visibility: hidden;
    color: rgba(0, 0, 0, 0.87);
    // margin-right: .34rem;
  }

  :global {
    .c7n-pro-btn +.c7n-pro-btn {
      margin: 0;
    }
  }
}

.tag {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #722ED1;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #D3ADF7;
  background: #F9F0FF;
  padding: 0 .04rem;
  margin-left: .1rem;
}
