.gantt() {

  .gantt-body {
    flex: 1;
    border: 1px solid var(--divider);
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;

    main {
      border-color: var(--divider);
      min-height: 3rem;
    }

    .gantt-chart-svg-renderer {
      rect {
        opacity: 1 !important;
      }

      #repeat {
        line {
          stroke: #CFDCEA !important;
        }
      }
    }

    header,
    .gantt-table-body-row-indentation,
    .gantt-chart {
      * {
        border-color: var(--divider);
        stroke: var(--divider) !important;
      }
    }

    .gantt-chart-drag-present {
      fill: var(--selection-background);
    }

    .gantt-time-axis-minor {
      color: var(--text-color3);
      font-weight: 400;
    }

    .gantt-table-body {
      &>div {
        color: var(--text-color3) !important;
      }
    }

    /** 加载操作区域 **/
    .gantt-divider {
      padding: 0 .05rem;
      margin-left: -.05rem;
    }

    .gantt-today,
    .gantt-today_line,
    .gantt-divider:hover hr {
      background: var(--primary-color);
      border-color: var(--primary-color);
      border-width: 2px;
    }

    .gantt-table-body-cell {
      color: var(--text-color);
    }

    .gantt-selection-indicator {
      background: var(--selection-background);
    }

    .gantt-today,
    .gantt-today_line {
      background: var(--primary-color);
    }

    .gantt-scroll_top {
      bottom: 81px !important;
      right: 0 !important;
    }

    .gantt-table-body-row-group {
      background-color: #fff;
    }

    // 拖拽时样式
    .gantt-table-header-resize::after {
      background: var(--divider);
    }
    .gantt-table-header-resize:hover::after {
      background: #5365ea;
    }
  }

  .gantt-scroll_bar-thumb {
    background: rgba(15, 19, 88, 0.2);
    border-radius: 6px;
    opacity: 1;
  }

  .gantt-scroll_bar {
    background: rgba(45, 45, 45, 0.05);
    height: .08rem;

    opacity: 1;
  }

  .gantt-scroll_bar:hover,
  .gantt-scroll_bar:focus,
  .gantt-scroll_bar:active {
    height: .12rem;
  }

  .gantt-main-thumb {
    background: rgba(15, 19, 88, 0.2);
    opacity: 1;
  }

  .gantt-main-track {
    background: rgba(45, 45, 45, 0.05);
    opacity: unset;
  }

  .gantt-main-trackY {
    top: 0;
    width: .06rem;
    height: calc(100% - .08rem);
  }

  .gantt-main-trackY:hover,
  .gantt-main-trackY:active,
  .gantt-main-trackY:focus {
    width: .08rem;
  }
}
