@import '~choerodon-ui/lib/style/themes/default';

.switch {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;

  border-radius: 2px;
  border: 1px solid #415BC9;
  color: #415BC9;

  path {
    fill: #415BC9;
  }

  &_list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: .1rem;
    width: .2rem;
    height: .2rem;

    svg {
      width: .16rem;
      height: .16rem;
    }
  }

  &_tree {

    font-size: 10px;
    padding: .03rem;
  }
}

.selected {
  background-color: #415BC9;
  color: #fff;

  path {
    fill: #fff;
  }
}

.disabled {
  color: @disabled-color;
}
