.addIssueType {
  .icon {
    position: relative;
    :global {
      .c7n-pro-icon-picker-prefix {
        opacity: 0;
      }
      .c7n-pro-field-label-wrapper {
        left: 0.1rem;
      }
      .c7n-pro-icon-picker {
        opacity: 0;
      }
      .c7n-pro-icon-picker-suffix {
        opacity: 0 !important;
      }
    }
    .icon_replace {
      position: absolute;
      top: 4px;
      left: 4px;
    }

    .iconPicker {
      position: absolute;
      top: 4px;
      right: 4px;
    }
    &:focus-within {
      .iconPicker {
        color: red;
        transform:rotate(180deg);
        -ms-transform:rotate(180deg); 	/* IE 9 */
        -moz-transform:rotate(180deg); 	/* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); 	/* Opera */
        transition:transform 0.3s, -webkit-transform 0.3s;
        top: 8px;
      }
    }
  }
  .colorPicker {
    margin-bottom: 0.18rem;
    .swatch {
      padding: 0.03rem;
      background: #fff;
      border-radius: 0.02rem;
      box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.246);
      display: inline-block;
      cursor: pointer;
    
      .color {
        width: 1.12rem;
        height: 0.18rem;
        border-radius: 0.02rem;
      }
    }
    .swatch_true {
      cursor: not-allowed;
      opacity: 0.6;
    }
    .popover {
      position: relative;
      .cover {
        position: fixed;
        top: 0rem;
        right: 0rem;
        bottom: 0rem;
        left: 0rem;
      }
    } 
  }
  
}

.confirm_modal {
  :global {
    .c7n-pro-modal-header {
      padding-top: 20px;
    }
    .c7n-pro-modal-body {
      padding-top: 5px;
    }
    .c7n-pro-modal-footer {
      .c7n-pro-btn-default {
        color: #000000;
      }
    }
  }
}
