.issueType {
  .issueTypeTable {
    .usage {
      cursor: pointer;
      color: var(--text-color);
    }
  
    .status {
      display: inline-block;
      color: #FFFFFF;
      font-size: 12px;
      padding: 0 7px;
      height: 18px;
      line-height: 18px;
      border-radius: 2px;
      margin-top: -4px;
    }
    .status_true {
      background-color: #00BFA5;
    }
    .status_false {
      background-color: #C6C6C6;
    }
  
    :global {
      table {
        tbody {
          td {
            color: var(--text-color3);
          }
        }
      }
    }

    .name {
      &_drag {
        color: var(--text-color3);
        vertical-align: sub;
        margin-right: .04rem;
        margin-left: -0.04rem;
      }
    }
  }
  
}
.issueType_menu {
  :global {
    .c7n-menu-item {
      height: 0.32rem;
      line-height: 0.32rem;
    }
  }
}
.delete_modal {
  :global {
    .c7n-pro-modal-header {
      padding-top: 20px;
    }
    .c7n-pro-modal-body {
      padding-top: 5px;
      padding-left: 0.24rem;
    }
    .c7n-pro-modal-footer {
      .c7n-pro-btn-default {
        color: var(--text-color);
      }
    }
  }
}

.issueType_modal {
  :global {
    .c7n-pro-modal-body {
      height: calc(100% - 55px);
      max-height: unset;
      padding-bottom: 0 !important;
      padding-right: 0 !important;
    }
  }
}
