.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 4px;
}

.row {
  display: flex;
  align-items: center;
}
.cell {
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid #f0f0f0;
  height: 100%;  
  overflow: hidden;
  color: #8c8c8c;
  user-select: none;
  padding: 0 12px;
}
.ellipsis {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.row-indentation {
  width: 38px;
  height: 100%;
  background-image: linear-gradient(90deg, #e5e5e5 1px, transparent 0);
  background-repeat: repeat;
  background-position: 11.5px
}
