.table {
  :global {
    .c7n-performance-table-scrollbar {
      background: #ffff;
      border-left: 1px solid var(--divider);
      width: .08rem !important;
    }

    .c7n-performance-table-scrollbar-handle {
      //   width: 5px;
      border-radius: unset;
    }
  }
}
