.item {
  display: flex;
  align-items: center;
  height: 37px;
  border-bottom: 1px solid var(--divider);
  background: white;
  // &:first-of-type{
  //   border-top: 1px solid var(--divider);
  // }
  cursor: move;
}

.handle {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.checkbox {
  margin-left: 10px;
  margin-right: 10px;
}
