.c7n-scrumsetting-column {
  background: white;
  flex: 1;
  min-width: 200px;
  display: flex;
  padding: 0 0.1rem 0 0;

}
.c7n-scrumsetting-unsetcolumn {
  background: white;
  flex: 1;
  min-width: 200px;
}
.c7n-scrumsetting-column,
.c7n-scrumsetting-unsetcolumn {
  .c7n-scrumsetting-columnContent {
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    width: 100%;

    .c7n-scrumsetting-columnTop {
      top: 0;
      z-index: 2;
      position: sticky;
      min-width: 1.2rem;
      background: #F5F5F5;
      padding: 0.12rem 0.12rem 0;

      .c7n-scrumsetting-icons {
        display: flex;
        justify-content: space-between;
        font-size: 0.16rem;
      }

      .c7n-scrumsetting-columnStatus {
        margin-top: 0.16rem;
        font-size: 0.14rem;
        min-height: 0.23rem;
        white-space: nowrap;

        .c7nagile-column-text-input {
          .c7n-pro-input-wrapper {
            background-color: transparent;
          }
        }
      }

      .c7n-scrumsetting-columnBottom {
        margin-top: 0.12rem;
        padding-bottom: 0.21rem;

        div {
          display: flex;
          justify-content: space-between;

          .editSpan {
            flex-basis: 50%;
          }
        }

        .c7nagile-column-number-input {
          width: auto;

          .c7n-pro-input-number-wrapper {
            background-color: transparent;

            .c7n-pro-input-number-inner-button {

              & > div {
                display: inline-block;
              }
            }
          }
        }
 
      }
    }

    .c7n-scrumsetting-columnDrop {
      padding: 0 0.12rem 0;
      flex: 1;
      .c7n-scrumsetting-column-noStatusTip {
        margin-top: 20px;
        color: rgba(15,19,88, 0.65);
      }
    }
  }
}
