.c7n-page-issue-detail {
  position: relative;
  display: flex;
  width: 100%;
  // height: 100%;
  flex-direction: column;
  flex: 1;

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-split {
      padding: .1rem 0;
      padding-left: .15rem;
      height: .4rem;
      background: rgba(245, 245, 245, 1);
      // border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba(224, 224, 224, 1);

      .c7n-page-issue-detail-header-item {
        color: rgba(0, 0, 0, 1);
      }
    }

    &-item {
      display: inline-block;
      width: 20%;
      font-size: 13px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
      line-height: 18px;

      &-icon {
        color: var(--text-color3);
        margin-bottom: .03rem;
        transform: scale(0.9);
      }
      // &:nth-child(n+3) {
      //   width: 15%;
      // }
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // overflow-y: auto;
    // overflow-x: hidden;
  }

  &-drag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:active {
      .c7n-page-issue-detail-drag-action-button {
        opacity: 1;
        transition: opacity 1s;
      }
    }

    &-split {
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      // border-top: 1px solid rgba(229, 229, 229, 1);

      border-color: rgba(229, 229, 229, 1);
      padding-left: .15rem;
    }

    &-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &-icon {
        color: fade(#000, 65%);
        // margin-bottom: .02rem;
        line-height: .24rem;
        margin-left: -.05rem;
      }

      span {
        // display: inline-block;
        color: fade(#000, 87%);
      }
    }

    &-action {
      height: .32rem;

      &-button {
        opacity: 0;

        &:hover,
        &:active {
          opacity: 1;
          transition: opacity 1s;
          // visibility: visible;
        }
      }
    }

    &-item {
      width: 20%;
      font-size: 13px;
      font-weight: 400;
      color: var(--text-color3);
      line-height: 32px;

      &:not(:first-child) {
        margin-left: .05rem;
      }
      // &:nth-child(n+3) {
      //   width: 15%;
      //   margin-left: 0;
      // }

      &-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 0 !important;
      }

      &-defaultValue {

        // line-height: 30px;
        & >div:last-child {
          // border-color: rgba(0, 0, 0, 0.2);
          // border-radius: 0.05rem;
          height: .3rem;
          color: fade(#000, 87%);
          min-height: .28rem;
        }
        &-text {
          display: inline-block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  &-dragging {
    &-item {
      border-width: 0;
      // box-shadow: none;
      // border-bottom: 0.02rem dashed #1890ff;

      // border-top: 0.02rem dashed #1890ff;
      // background-color: red;
      .c7n-pro-checkbox:disabled +.c7n-pro-checkbox-inner {
        color: rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5 !important;
        border-color: rgba(0, 0, 0, 0.25) !important;
      }
    }
  }

  &-drop {
    &-null {
      padding: .1rem;
      line-height: .2rem;
      margin: auto;
      text-align: center;

      &-split {
        border-bottom: 1px solid rgba(229, 229, 229, 1);
      }
    }

    &-wrap {
      height: 100%;
      flex: 1 1 auto;
    }
  }
}
