.customCirculation {
  overflow: auto;
  height: 100%;

  .table {
    :global {
      // .c7n-pro-table-filter-select {
      //   border-top: none !important;
      // }
      .c7n-pro-table-filter-select {
        border-top: 1px solid var(--divider) !important;
      }
      .c7n-pro-table-cell[data-index="id"] {
        .c7n-pro-table-cell-inner {
          height: unset !important;
        }
      }
    }

    .setting {
      color: var(--text-color3);

      .settingItem {
        // display: block;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: break-spaces;
      }

      .settingItem:not(:last-child) {
        border-bottom: 1px solid var(--divider);
      }
    }
  }
}

.customCirculation_conditionModal {
  :global {
    .c7n-pro-modal-body {
      height: calc(~"100% - 55px");
      padding: 0 !important;
      overflow: hidden;
    }
  }
}

.customCirculation_linkageModal {
  :global {
    .c7n-pro-modal-body {
      height: calc(~"100% - 55px");
      padding: 0 !important;
      overflow-x: hidden;
    }
  }
}

.customCirculation_updateFieldModal,
.customCirculation_autoTransformModal,
.customCirculation_notifySettingModal {
  :global {
    .c7n-pro-modal-body {
      padding: 0 !important;
      overflow-x: hidden !important;
    }
  }
}
