.customCirculation {
  .table {
    :global {
      .c7n-pro-table-filter-select {
        border-top: none !important;
      }
    }
  }
}
.customCirculation_conditionModal, .customCirculation_linkageModal {
    :global {
        .c7n-pro-modal-body {
            padding: 0;
            overflow: hidden;
        }
    }
}
.customCirculation_notifySettingModal {
    :global {
        .c7n-pro-modal-body {
            padding: 20px;
        }
    }
}
