@import "~choerodon-ui/lib/style/themes/default";

.c7n-backlog-SprintButton {
  font-size: 0.13rem;
  color: @primary-color;
  line-height: 0.2rem;
  cursor: pointer;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 0.2rem;
  &-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    cursor: not-allowed;
  }
}

.c7n-pro-popup-open-sprint-guide {
  // background: #6E80F1 !important;
  .c7n-pro-tooltip-popup-arrow {
    border-bottom-color: #6e80f1 !important;
  }
  .c7n-pro-tooltip-popup-inner {
    background: #6e80f1 !important;
  }
}
