body:not([data-theme="theme4"]) {
  .c7n-backlog-page {
    .page-breadcrumb {
      margin-bottom: 29px !important;
    }
  }
}

.c7n-backlog {
  display: flex;
  width: 100%;
  // border-top: 0.01rem solid var(--divider);
  z-index: 3;
  position: relative;

  .c7n-spin-nested-loading {
    overflow-x: hidden;
    display: flex;
    flex: 1;
    width: 100%;

    .c7n-spin-container {
      overflow-x: hidden;
      flex-direction: column;
      display: flex;
      flex: 1;
      width: 100%;
    }
  }

  p {
    margin-bottom: 0;
  }

  .c7n-backlog-side {
    width: 0.24rem;
    border-right: 0.01rem solid var(--divider);

    p {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.08);
      text-align: center;
      color: var(--text-color3);
      padding: 10px 0;
    }

    &-tip {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ff9f83;
      display: flex;
      margin-left: 8px;
      margin-top: 5px;
    }
  }
}

.wrapSpin {
  width: 100%;
  display: flex;
}

.c7n-backlog-filter {
  cursor: pointer;
  padding: 0.03rem 0.08rem;
  margin-right: 0.18rem;
  border-radius: 0.02rem;
  white-space: nowrap;
}

.c7n-quickfilter-more {
  white-space: nowrap;
  margin-left: 0.5rem;
  cursor: pointer;
}

.c7n-backlog-content {
  //position: absolute;
  //left: 0.24rem;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: var(--guide-space);
}

.c7n-backlog-clearFilter {
  margin-left: 0.18rem;
  font-size: 0.13rem;
  line-height: 0.2rem;
  white-space: nowrap;
  color: rgb(48, 63, 159);
  cursor: pointer;
}

.c7n-pro-popup-create-sprint-guide {
  // background: #6E80F1 !important;
  .c7n-pro-tooltip-popup-arrow {
    border-bottom-color: #6e80f1 !important;
  }
  .c7n-pro-tooltip-popup-inner {
    background: #6e80f1 !important;
  }
}
