.c7n-agile-select-multi-service-tag {
  cursor: default;

  &-content {
    // z-index: 100000;
    max-height: 3.1rem;
    max-width: 3.4rem;
    padding: .1rem .2rem;
    overflow: auto;
    overflow-x: hidden;

    &-add {
      // margin-top: .15rem;
      width: max-content;
    }

    &-del {
      position: absolute;
      bottom: 20px;
      right: -14px;
    }

    &-form {
      position: relative;
      margin-bottom: .15rem;

    }

    // &>&-form {
    // }

    &-item {
      width: 90%;
    }

    &-item+&-item {
      margin-top: .06rem;
    }
  }

  &-footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: .1rem .24rem;
    border-top: 0.01rem solid #e0e0e0;
  }
}
