.part {
  &_title {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: .03rem;

    & >span {
      font-weight: 500;
      font-size: 14px;
      // padding-right: .1rem;
    }

    :global {
      .c7n-pro-btn {
        span {
          display: inline-block;
          padding-bottom: .02rem;
        }
      }
    }
  }
  &_block {
    display: inline-block;
    margin-right: 6px;
    width: 3px;
    height: 16px;
    background: #798DFB;
    border-radius: 2px;
  }
  &_content {

  }

  &_btn {

  }

  :global {
    .c7n-pro-form-float-label.c7n-pro-form {
      margin-top: 0.1rem;
    }
  }
}
.template_edit {
  &_name {
    margin-bottom: 35px;
  }
  :global {
    .c7n-pro-form-float-label .c7n-pro-field-wrapper {
      margin-bottom: 0;
    }
    .c7n-pro-field-wrapper {
      padding-bottom: 0;
    }
    .c7n-pro-form {
      margin-top: -3px;
    }
  }
}
