@import '../../style/gantt';

body.c7n-gantt-fullScreen {

  .page-header,.c7ncd-side-menu,
  #menu {
    display: none;
  }

  .c7n-workbench {
    & >div:first-child {
      display: none;
    }

    .c7n-workbench-page-wrapper-view {
      height: 100%;
      padding: 0;
    }
  }
  
  .c7n-gantt-content .c7nagile-detail-container {
    top: 56px !important;
  }
}

.c7n-gantt-content {
  display: flex;
  flex-flow: column;
  flex: 1;
  // 甘特图样式
  .gantt();
  &-body {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-bottom: .2rem;

    &-create {
      .c7n-subTask-quickCreate {
        padding: 0;
      }

      .c7n-pro-btn-wrapper {
        display: none !important;
      }

      .c7n-input {
        height: .34rem;
      }

      .c7n-input-label-wrapper {
        border: none;
      }
    }

    &-parent_create {
      cursor: pointer;
      padding-left: .05rem;
      opacity: 0;
      transition: all ease-in 0.3s;
      color: var(--primary-color);
    }

    &-quick-create {
      margin-top: -.01rem;
      padding: .06rem 0;
      border: 1px solid var(--divider);

      // border-top: none;
      &-open {
        margin-top: .05rem;
        padding: 0;
        padding-right: .5rem;
        border: none;
      }
    }

    &-summary {
      flex: 1;
      display: flex;
      align-items: center;

      &-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-conflict {
        cursor: pointer;
        color: #F76776;
        font-size: 18px;
        padding-bottom: 3px;
        margin-right: 4px;
      }

      .c7n-typeTag {
        flex-shrink: 0;
      }

      .c7n-gantt-content-body-parent_create {
        flex-shrink: 0;
      }
    }

    .gantt-table-body-cell:hover,
    .gantt-table-body-cell:focus,
    .gantt-table-body-cell:active {
      .c7n-gantt-content-body-parent_create {
        opacity: 1;
      }
    }

    .gantt-table-body-row-group {
      background-color: #fff;
    }
  }

  &-header {
    display: flex;
    flex-wrap: wrap;

    .c7n-issue-search {
      max-width: 100%;
      margin-right: 0;
    }
  }
}
