.Divider {
  /* background: rgb(122, 134, 154); */
  position: relative;
  box-sizing: border-box;
  background: padding-box rgb(211, 211, 211);
  opacity: 0.8;
}

.Divider.vertical {
  height: 11px;
  /* height: 1px; */
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  width: 100%;
  cursor: row-resize;
}

.Divider.horizontal {
  height: 100%;
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Divider.vertical:before,
.Divider.horizontal:before,
.Divider.vertical:after,
.Divider.horizontal:after {
  content: "";
  display: block;
  position: absolute;
  background: white;
}

.Divider.vertical:before {
  left: calc(50% - 13px);
  margin-left: 7px;
  margin-right: 7px;
  width: 26px;
  top: -2px;
  height: 3px;
  background: rgb(255, 255, 255);
}

.Divider.vertical:after {
  left: calc(50% - 6px);
  margin-left: 7px;
  margin-right: 7px;
  width: 12px;
  top: -1px;
  height: 2px;
  border-top: 1px solid rgb(122, 134, 154);
  border-bottom: 1px solid rgb(122, 134, 154);
}
.Divider.horizontal:before {
  top: calc(50% - 13px);
  margin-top: 7px;
  margin-bottom: 7px;
  height: 26px;
  left: -2px;
  width: 3px;
  background: rgb(255, 255, 255);
}

.Divider.horizontal:after {
  top: calc(50% - 6px);
  margin-top: 7px;
  margin-bottom: 7px;
  height: 12px;
  left: -1px;
  width: 2px;
  border-left: 1px solid rgb(122, 134, 154);
  border-right: 1px solid rgb(122, 134, 154);
}
