.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  cursor: col-resize
}

.divider:before {
  left: -4px;
  z-index: 2
}

.divider:after,
.divider:before {
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0
}

.divider:after {
  content: " ";
  left: 1px
}

.divider:hover {
  margin-left: -3px
}

.divider:hover:before {
  content: " "
}

.divider:hover:after {
  width: 3px
}

.divider:hover hr {
  width: 2px;
  background-color: #1b9aee
}

.divider:hover .icon-wrapper {
  background-color: #1b9aee;
  border-color: #1b9aee;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.divider:hover .icon-wrapper:after {
  content: "";
  right: -3px;
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: transparent
}

.divider:hover .icon-wrapper .arrow:after,
.divider:hover .icon-wrapper .arrow:before {
  background-color: #fff
}

.divider.vertical-disabled:after {
  content: none
}

.divider > hr {
  margin: 0;
  width: 1px;
  height: 100%;
  background-color: #f0f0f0;
  border: none
}

.divider > .icon-wrapper {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #f0f0f0;
  border-left: 0;
  background-color: #fff;
}

.divider .arrow:before {
  bottom: -1px;
  transform: rotate(30deg)
}

.divider .arrow:after {
  top: -1px;
  transform: rotate(-30deg)
}

.divider .arrow:after,
.divider .arrow:before {
  content: "";
  display: block;
  position: relative;
  width: 2px;
  height: 8px;
  background-color: #bfbfbf;
  border-radius: 1px
}

.divider .arrow.reverse:before {
  transform: rotate(-30deg)
}

.divider .arrow.reverse:after {
  transform: rotate(30deg)
}
