<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.AppVersionMapper">

    <select id="selectByProjectIds" resultType="io.choerodon.agile.api.vo.AppVersionVO">
        select
        aav.id,
        aav.group_id,
        aav.artifact_id,
        ifnull(aav.version_alias, aav.version) as version,
        aav.service_code,
        aav.project_id,
        aav.organization_id,
        aav.object_version_number
        from agile_app_version aav
        where aav.project_id in
        <foreach collection="projectIds" item="projectId" open="(" close=")" separator=",">
            #{projectId}
        </foreach>
    </select>

    <select id="listAppVersionByProjectId" resultType="io.choerodon.agile.api.vo.AppVersionVO">
        SELECT
        aav.id,
        aav.group_id,
        aav.artifact_id,
        aav.version_alias,
        aav.version,
        aav.service_code,
        aav.project_id,
        aav.organization_id,
        aav.object_version_number
        FROM agile_app_version aav
        WHERE aav.project_id = #{projectId}
        <if test="appVersionSearchVO.content != null and !''.equals(appVersionSearchVO.content)">
            <bind name="contentLike" value="'%' + appVersionSearchVO.content + '%'"/>
            AND (aav.version LIKE #{contentLike}
                OR aav.version_alias LIKE #{contentLike}
                OR aav.service_code LIKE #{contentLike})
        </if>
    </select>
</mapper>