<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.AppVersionMapper">

    <select id="selectByProjectIds" resultType="io.choerodon.agile.api.vo.AppVersionVO">
        select
        aav.id,
        aav.group_id,
        aav.artifact_id,
        ifnull(aav.version_alias, aav.version) as version,
        aav.service_code,
        aav.project_id,
        aav.organization_id,
        aav.object_version_number
        from agile_app_version aav
        where aav.project_id in
        <foreach collection="projectIds" item="projectId" open="(" close=")" separator=",">
            #{projectId}
        </foreach>
    </select>

    <select id="listAppVersionByProjectId" resultType="io.choerodon.agile.api.vo.AppVersionVO">
        SELECT
        aav.id,
        aav.group_id,
        aav.artifact_id,
        aav.version_alias,
        aav.version,
        aav.service_code,
        aav.project_id,
        aav.organization_id,
        aav.object_version_number
        FROM agile_app_version aav
        WHERE aav.project_id = #{projectId}
        <if test="appVersionSearchVO.content != null and !''.equals(appVersionSearchVO.content)">
            <bind name="contentLike" value="'%' + appVersionSearchVO.content + '%'"/>
            AND (aav.version LIKE #{contentLike}
                OR aav.version_alias LIKE #{contentLike}
                OR aav.service_code LIKE #{contentLike})
        </if>
    </select>

    <resultMap id="versionStoryMap" type="io.choerodon.agile.infra.dto.business.IssueDTO">
        <id column="issue_id" property="issueId"/>
        <id column="issue_num" property="issueNum"/>
        <id column="status_id" property="statusId"/>
        <id column="summary" property="summary"/>
        <id column="assignee_id" property="assigneeId"/>
        <id column="project_id" property="projectId"/>
        <collection property="appVersions"
                    ofType="io.choerodon.agile.infra.dto.AppVersionDTO">
            <id property="id" column="app_version_id"/>
            <result property="artifactId" column="artifact_id"/>
            <result property="serviceCode" column="service_code"/>
            <result property="version" column="version"/>
            <result property="versionAlias" column="version_alias"/>
        </collection>
    </resultMap>

    <select id="listRelStoryByOption" resultMap="versionStoryMap">
        SELECT
            search.issue_id,
            search.summary,
            search.status_id,
            search.assignee_id,
            search.project_id,
            search.issue_num,
            search.app_version_id,
            search.service_code,
            search.version,
            search.version_alias,
            search.artifact_id
        FROM (
            SELECT
                ai.issue_id,
                ai.summary,
                ai.status_id,
                ai.assignee_id,
                ai.project_id,
                CONCAT(api.project_code,'-', ai.issue_num) as issue_num,
                aav.id app_version_id,
                aav.service_code,
                aav.version,
                aav.version_alias,
                aav.artifact_id
            FROM agile_issue ai
            LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
            LEFT JOIN agile_app_version_issue_rel aavir on aavir.issue_id = ai.issue_id
            LEFT JOIN agile_app_version aav on aavir.app_version_id = aav.id
            WHERE
                ai.type_code = 'story'
            AND ai.issue_id IN (
                SELECT aavir2.issue_id
                FROM agile_app_version_issue_rel aavir2
                WHERE aavir2.app_version_id IN
                    <foreach collection="appVersionIds" item="appVersionId" open="(" separator=","
                             close=")">
                        #{appVersionId}
                    </foreach>)
            <if test='searchVO.searchArgs != null'>
                <if test='searchVO.searchArgs.summary != null and searchVO.searchArgs.summary != "" '>
                    AND ai.summary LIKE concat(concat('%',#{searchVO.searchArgs.summary}),'%')
                </if>
            </if>
            <if test='searchVO.advancedSearchArgs != null'>
                <if test='searchVO.advancedSearchArgs.statusId != null and searchVO.advancedSearchArgs.statusId.size > 0'>
                    and ai.status_id in
                    <foreach collection="searchVO.advancedSearchArgs.statusId" item="statusId" open="(" separator=","
                             close=")">
                        #{statusId}
                    </foreach>
                </if>
            </if>
            <if test='searchVO.otherArgs != null'>
                <if test='searchVO.otherArgs.appVersion != null and searchVO.otherArgs.appVersion.size > 0'>
                    AND (
                    ai.issue_id in ( SELECT avir3.issue_id FROM
                    agile_app_version_issue_rel aavir3 WHERE aavir3.app_version_id in
                    <foreach collection="searchVO.otherArgs.appVersion" item="id" open="(" separator=","
                             close=")">
                        #{id}
                    </foreach>))
                </if>
                <if test='searchVO.otherArgs.feature != null and searchVO.otherArgs.feature.size > 0'>
                    AND (
                    <if test='searchVO.otherArgs.featureNull != null and searchVO.otherArgs.featureNull == true'>
                        ((ai.feature_id is null or ai.feature_id = 0) and ai.type_code in ('story'))
                        OR
                    </if>
                    (ai.feature_id in
                    <foreach collection="searchVO.otherArgs.feature" item="id" open="(" separator=","
                             close=")">
                        #{id}
                    </foreach>
                    and ai.type_code in ('story'))
                    )
                </if>
                <if test='searchVO.otherArgs.assigneeId != null and searchVO.otherArgs.assigneeId.size > 0'>
                    AND (
                    <if test='searchVO.otherArgs.assigneeIdNull != null and searchVO.otherArgs.assigneeIdNull == true'>
                        (ai.assignee_id = 0 or ai.assignee_id is null) OR
                    </if>
                    ai.assignee_id in
                    <foreach collection="searchVO.otherArgs.assigneeId" item="aId" open="(" separator=","
                             close=")">
                        #{aId}
                    </foreach>
                    )
                </if>
            </if>) search
        <where>
        <if test='searchVO.searchArgs != null'>
            <if test='searchVO.searchArgs.issueNum != null and searchVO.searchArgs.issueNum != ""'>
                AND search.issue_num LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.issueNum}) ,'%')
            </if>
        </if>
        </where>
    </select>

    <resultMap id="versionStoryBug" type="io.choerodon.agile.infra.dto.business.IssueDTO">
        <id column="issue_id" property="issueId"/>
        <id column="issue_num" property="issueNum"/>
        <id column="status_id" property="statusId"/>
        <id column="summary" property="summary"/>
        <id column="assignee_id" property="assigneeId"/>
        <id column="project_id" property="projectId"/>
        <id column="priority_id" property="priorityId"/>
        <collection property="versionIssueRelDTOS"
                    ofType="io.choerodon.agile.infra.dto.VersionIssueRelDTO">
            <id property="versionId" column="version_id"/>
            <result property="statusCode" column="version_status_code"/>
            <result property="relationType" column="relation_type"/>
            <result property="issueId" column="version_issue_id"/>
            <result property="projectId" column="version_project_id"/>
            <result property="name" column="version_name"/>
        </collection>
    </resultMap>

    <select id="listRelBugByOption" resultMap="versionStoryBug">
        SELECT
            search.issue_id,
            search.summary,
            search.status_id,
            search.assignee_id,
            search.project_id,
            search.priority_id,
            search.issue_num,
            search.version_id,
            search.version_status_code,
            search.version_name,
            search.relation_type,
            search.version_project_id,
            search.version_issue_id
        FROM (
            SELECT
                ai.issue_id,
                ai.summary,
                ai.status_id,
                ai.assignee_id,
                ai.project_id,
                ai.priority_id,
                CONCAT(api.project_code,'-', ai.issue_num) as issue_num,
                apv.version_id,
                apv.status_code as version_status_code,
                apv.name as version_name,
                avir.relation_type,
                avir.project_id as version_project_id,
                avir.issue_id as version_issue_id
            FROM agile_issue ai
            LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
            LEFT JOIN agile_version_issue_rel avir on avir.issue_id = ai.issue_id and avir.relation_type = 'influence'
            LEFT JOIN agile_product_version apv on avir.version_id = apv.version_id
            WHERE
                ai.type_code = 'bug'
            AND ai.issue_id IN (
                SELECT aavir2.issue_id
                FROM agile_app_version_issue_rel aavir2
                WHERE aavir2.app_version_id IN
                <foreach collection="appVersionIds" item="appVersionId" open="(" separator=","
                         close=")">
                    #{appVersionId}
                </foreach>)
            <if test='searchVO.searchArgs != null'>
                <if test='searchVO.searchArgs.summary != null and searchVO.searchArgs.summary != ""'>
                    AND ai.summary LIKE concat(concat('%',#{searchVO.searchArgs.summary}),'%')
                </if>
            </if>
            <if test='searchVO.advancedSearchArgs != null'>
                <if test='searchVO.advancedSearchArgs.statusId != null and searchVO.advancedSearchArgs.statusId.size > 0'>
                    and ai.status_id in
                    <foreach collection="searchVO.advancedSearchArgs.statusId" item="statusId" open="(" separator=","
                             close=")">
                        #{statusId}
                    </foreach>
                </if>
                <if test='searchVO.advancedSearchArgs.priorityId != null and searchVO.advancedSearchArgs.priorityId.size > 0'>
                    AND ai.priority_id IN
                    <foreach collection="searchVO.advancedSearchArgs.priorityId" item="priorityId" open="(" separator=","
                             close=")">
                        #{priorityId}
                    </foreach>
                </if>
            </if>
            <if test='searchVO.otherArgs != null'>
                <if test='searchVO.otherArgs.influenceVersion != null and searchVO.otherArgs.influenceVersion.size > 0'>
                    AND (
                    <if test='searchVO.otherArgs.influenceVersionNull != null and searchVO.otherArgs.influenceVersionNull == true'>
                        ai.issue_id in (SELECT ai31.issue_id from agile_issue ai31
                        left join agile_version_issue_rel avir44
                        on ai31.issue_id = avir44.issue_id
                        WHERE avir44.version_id is null ) OR
                    </if>
                    ai.issue_id in ( SELECT avir3.issue_id FROM
                    agile_version_issue_rel avir3 WHERE avir3.version_id in
                    <foreach collection="searchVO.otherArgs.influenceVersion" item="id" open="(" separator=","
                             close=")">
                        #{id}
                    </foreach>
                    AND relation_type = 'influence'
                    )
                    )
                </if>
                <if test='searchVO.otherArgs.assigneeId != null and searchVO.otherArgs.assigneeId.size > 0'>
                    AND (
                    <if test='searchVO.otherArgs.assigneeIdNull != null and searchVO.otherArgs.assigneeIdNull == true'>
                        (ai.assignee_id = 0 or ai.assignee_id is null) OR
                    </if>
                    ai.assignee_id in
                    <foreach collection="searchVO.otherArgs.assigneeId" item="aId" open="(" separator=","
                             close=")">
                        #{aId}
                    </foreach>
                    )
                </if>
            </if>) search
        <where>
            <if test='searchVO.searchArgs != null'>
                <if test='searchVO.searchArgs.issueNum != null and searchVO.searchArgs.issueNum != ""'>
                    AND search.issue_num LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.issueNum}) ,'%')
                </if>
            </if>
        </where>
    </select>
</mapper>