<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.BoardColumnTemplateMapper">

    <update id="updateMaxAndMinNumTemplate">
        UPDATE agile_board_column
        SET max_num               = #{columnInfo.maxNum},
            min_num               = #{columnInfo.minNum},
            object_version_number = object_version_number + 1
        WHERE
            organization_id = #{organizationId}
            AND project_id = #{columnInfo.projectId}
            AND column_id = #{columnInfo.columnId}
            AND object_version_number = #{columnInfo.objectVersionNumber}
    </update>

    <resultMap id="BoardColumnAndStatus" type="io.choerodon.agile.api.vo.BoardColumnVO">
        <id column="column_id" property="columnId"/>
        <id column="column_name" property="name"/>
        <id column="min_num" property="minNum"/>
        <id column="max_num" property="maxNum"/>
        <id column="column_category_code" property="categoryCode"/>
        <id column="board_id" property="boardId"/>
        <id column="color_code" property="colorCode"/>
        <id property="color" column="abc_color"/>
        <id column="column_ovn" property="objectVersionNumber"/>
        <id column="sequence" property="sequence"/>
        <collection property="status" autoMapping="true" notNullColumn="status_id" ofType="io.choerodon.agile.api.vo.StatusTemplateVO">
            <id column="status_name" property="name"/>
            <id column="status_id" property="statusId"/>
            <id column="type" property="categoryCode"/>
            <id column="fs_completed" property="templateCompleted"/>
            <id column="position" property="position"/>
            <id column="category_code" property="categoryCode"/>
        </collection>
    </resultMap>

    <select id="listColumnAndStatusByBoardTemplateId" resultMap="BoardColumnAndStatus">
         SELECT
             abc.column_id,
             abc.name as column_name ,
             abc.sequence,
             abc.category_code as column_category_code,
             abc.max_num,
             abc.min_num,
             abc.board_id,
             abc.color_code,
             alv1.name AS abc_color,
             abc.object_version_number as column_ovn,
             fs.id as status_id,
             fs.name as status_name,
             fs.type as category_code,
             fst.is_template_completed as fs_completed,
             abcsr.position
            FROM
                agile_board_column abc
                LEFT JOIN agile_board_column_status_rel abcsr ON abc.column_id = abcsr.column_id
                LEFT JOIN fd_status fs on fs.id = abcsr.status_id
                LEFT JOIN fd_status_template fst on abcsr.organization_id = fst.organization_id and abcsr.status_id = fst.status_id
                LEFT JOIN lookup_value alv1 ON abc.color_code = alv1.value_code
                WHERE abc.organization_id = #{organizationId}
                AND abc.project_id = 0
                AND abc.board_id = #{boardTemplateId}
                order by abc.sequence,abcsr.position
    </select>
</mapper>