<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.ColumnStatusRelMapper">

    <select id="queryByIssueIdAndColumnIds" resultType="io.choerodon.agile.infra.dto.ColumnStatusRelDTO">
        SELECT
        ai.status_id,
        ai.issue_id,
        avcsr.column_id
        FROM agile_issue ai LEFT JOIN agile_board_column_status_rel avcsr ON ai.status_id = avcsr.status_id
        WHERE ai.issue_id in
        <foreach collection="statusToNullIssueIds" item="issueId"
                 open="(" close=")" separator=",">
            #{issueId}
        </foreach>
        AND avcsr.column_id IN
        <foreach collection="columnIds" item="columnId"
                 open="(" close=")" separator=",">
            #{columnId}
        </foreach>
    </select>


    <select id="selectStatusRel" resultType="io.choerodon.agile.infra.dto.ColumnStatusRelDTO">
        select * from agile_board_column_status_rel abcsr
        where abcsr.organization_id = #{organizationId}
        and abcsr.project_id = #{projectId}
        and abcsr.column_id = #{columnId}
        order by abcsr.position asc
    </select>

    <update id="updatePosition">
        update agile_board_column_status_rel abcsr
        set abcsr.position = #{columnStatusRel.position}
        where abcsr.organization_id = #{columnStatusRel.organizationId}
        and abcsr.project_id = #{columnStatusRel.projectId}
        and abcsr.column_id = #{columnStatusRel.columnId}
        and abcsr.status_id = #{columnStatusRel.statusId}
    </update>

    <select id="queryStatusIds" resultType="java.lang.Long">
        select abcsr.status_id
        from agile_board_column_status_rel abcsr
        where abcsr.organization_id = #{organizationId}
        and abcsr.project_id = #{projectId}
        and abcsr.column_id in (
              select column_id from agile_board_column
              where board_id = #{boardTemplateId}
        )
    </select>
</mapper>