<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.choerodon.agile.infra.mapper.ConfigurationRuleReceiverMapper">

    <select id="selectReceiver" resultType="io.choerodon.agile.infra.dto.ConfigurationRuleReceiverDTO">
        SELECT
            acrr.id,
            acrr.project_id,
            acrr.rule_id,
            acrr.user_type,
            acrr.user_id
        FROM
            agile_configuration_rule_receiver acrr
        WHERE
        acrr.rule_id IN
        <foreach collection="ruleIdList" item="ruleId" separator="," open="(" close=")">
            #{ruleId}
        </foreach>
        <if test="types != null and types.size > 0">
            AND acrr.user_type IN 
          <foreach collection="types" item="type" open="(" close=")" separator=",">
              #{type}
          </foreach>
        </if>
    </select>
</mapper>