<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.choerodon.agile.infra.mapper.ConfigurationRuleReceiverMapper">

    <select id="selectReceiver" resultType="io.choerodon.agile.infra.dto.ConfigurationRuleReceiverDTO">
        SELECT
            acrr.id,
            acrr.project_id,
            acrr.rule_id,
            acrr.user_type,
            acrr.user_id
        FROM
            agile_configuration_rule_receiver acrr
        WHERE
        acrr.rule_id IN
        <foreach collection="ruleIdList" item="ruleId" separator="," open="(" close=")">
            #{ruleId}
        </foreach>
        <if test="type != null">
            AND acrr.user_type = #{type}
        </if>
    </select>
</mapper>