<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.choerodon.agile.infra.mapper.ConfigurationRuleMapper">

    <select id="queryFiltersByProjectId" resultType="io.choerodon.agile.api.vo.ConfigurationRuleVO">
        SELECT *
        FROM
        agile_quick_filter
        WHERE project_id = #{projectId}
        <if test='filterName != null and filterName != "" '>
            and (name LIKE CONCAT(CONCAT('%', #{filterName}), '%'))
        </if>
        <if test='contents != null and contents.size != 0'>
            <foreach collection="contents" item="content" index="index">
                AND (name LIKE CONCAT(CONCAT('%', #{content}), '%') OR express_query LIKE
                CONCAT(CONCAT('%', #{content}), '%') OR description LIKE
                CONCAT(CONCAT('%', #{content}), '%') )
            </foreach>
        </if>
    </select>


</mapper>