<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.choerodon.agile.infra.mapper.ConfigurationRuleMapper">

    <select id="selectByProjectId" resultType="io.choerodon.agile.api.vo.ConfigurationRuleVO">
        SELECT *
        FROM
            agile_configuration_rule
        WHERE project_id = #{projectId}
    </select>

    <select id="selectByRuleList" resultType="java.util.Map">
        SELECT
        <foreach collection="ruleList" item="rule" separator="," index="index">
            CASE WHEN t${index}.issue_id IS NOT NULL THEN ${rule.id} END AS t${index}
        </foreach>
        FROM
        agile_issue ai
        <foreach collection="ruleList" item="rule" index="index">
            LEFT JOIN (SELECT issue_id FROM agile_issue WHERE ${rule.sqlQuery}) t${index} ON ai.issue_id = t${index}.issue_id
        </foreach>
        WHERE ai.issue_id = #{issueId}
    </select>
</mapper>