<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.FieldValueMapper">

    <resultMap id="fieldValueMap" type="io.choerodon.agile.infra.dto.FieldValueDTO">
        <id property="id" column="id"/>
        <id property="instanceId" column="instance_id"/>
        <id property="fieldId" column="field_id"/>
        <id property="fieldType" column="field_type"/>
        <id property="optionId" column="option_id"/>
        <id property="optionValue" column="option_value"/>
        <id property="stringValue" column="string_value"/>
        <id property="numberValue" column="number_value"/>
        <id property="textValue" column="text_value"/>
        <id property="dateValue" column="date_value"/>
        <id property="projectId" column="project_id"/>
        <id property="schemeCode" column="scheme_code"/>
        <id property="creationDate" column="creation_date"/>
        <id property="createdBy" column="created_by"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="objectVersionNumber" column="object_version_number"/>
    </resultMap>

    <select id="queryList" resultMap="fieldValueMap">
        SELECT fv.*,
        fo.value as option_value,
        f.field_type
        FROM fd_field_value fv
        LEFT JOIN fd_field_option fo ON fo.id = fv.option_id
        LEFT JOIN fd_object_scheme_field f ON f.id = fv.field_id
        WHERE 1 = 1
        <if test="projectId != null">
            AND fv.project_id = #{projectId}
        </if>
        <if test="instanceId != null">
            AND fv.instance_id = #{instanceId}
        </if>
        <if test="schemeCode != null">
            AND fv.scheme_code = #{schemeCode}
        </if>
        <if test="fieldId != null">
            AND fv.field_id = #{fieldId}
        </if>
    </select>

    <insert id="batchInsert">
        INSERT IGNORE INTO fd_field_value
        (instance_id,project_id,scheme_code, field_id,option_id, string_value, number_value, text_value, date_value)
        values
        <foreach collection="fieldValues" item="fieldValue" index="index"
                 separator=",">
            (#{instanceId}, #{projectId}, #{schemeCode}, #{fieldValue.fieldId},
            #{fieldValue.optionId}, #{fieldValue.stringValue}, #{fieldValue.numberValue}, #{fieldValue.textValue},
            #{fieldValue.dateValue})
        </foreach>
    </insert>

    <delete id="deleteByOptionIds">
        DELETE
        FROM fd_field_value
        WHERE option_id IN
        <foreach collection="optionIds" item="optionId" index="index" open="(" close=")" separator=",">
            #{optionId}
        </foreach>
    </delete>

    <delete id="deleteList">
        DELETE
        FROM fd_field_value
        WHERE 1 = 1
        <if test="projectId != null">
            AND project_id = #{projectId}
        </if>
        <if test="instanceId != null">
            AND instance_id = #{instanceId}
        </if>
        <if test="schemeCode != null">
            AND scheme_code = #{schemeCode}
        </if>
        <if test="fieldId != null">
            AND field_id = #{fieldId}
        </if>
    </delete>

    <select id="sortIssueIdsByFieldValue" resultType="java.lang.Long">
        SELECT fv.instance_id
        FROM fd_field_value fv
        WHERE fv.field_id = #{fieldId}
        AND fv.project_id = #{projectId}
        AND fv.scheme_code = #{schemeCode}
        <if test='sortSql != null and sortSql != ""'>
            ORDER BY ${sortSql}
        </if>
    </select>

    <select id="listByInstanceIdsAndFieldId" resultMap="fieldValueMap">
        SELECT fv.*,
        fo.value as option_value,
        f.field_type
        FROM fd_field_value fv
        LEFT JOIN fd_field_option fo ON fo.id = fv.option_id
        LEFT JOIN fd_object_scheme_field f ON f.id = fv.field_id
        WHERE 1 = 1
        <if test="projectId != null">
            AND fv.project_id = #{projectId}
        </if>
        <if test="instanceIds != null and instanceIds.size > 0">
            AND fv.instance_id in
            <foreach collection="instanceIds" item="instanceId" open="(" close=")" separator=",">
                #{instanceId}
            </foreach>
        </if>
        <if test="schemeCode != null">
            AND fv.scheme_code = #{schemeCode}
        </if>
        <if test="fieldId != null">
            AND fv.field_id = #{fieldId}
        </if>
    </select>
    <select id="selectUserIdByField" resultType="java.lang.Long">
        SELECT
            ffv.option_id
        FROM
            fd_field_value ffv
        JOIN fd_object_scheme_field fosf ON ffv.field_id = fosf.id
        WHERE
            fosf.CODE IN
            <foreach collection="userTypeList" item="userType" open="(" separator="," close=")">
                #{userType}
            </foreach>
          AND ffv.project_id = #{projectId}
          AND ffv.instance_id = #{issueId}
    </select>

    <delete id="deleteByInstanceIds">
        DELETE
        FROM fd_field_value
        WHERE 1 = 1
        <if test="projectId != null">
            AND project_id = #{projectId}
        </if>
        <if test="instanceIds != null and instanceIds.size > 0">
            AND instance_id  in
            <foreach collection="instanceIds" item="instanceId" open="(" close=")" separator=",">
                #{instanceId}
            </foreach>
        </if>
        <if test="schemeCode != null">
            AND scheme_code = #{schemeCode}
        </if>
        <if test="fieldId != null">
            AND field_id = #{fieldId}
        </if>
    </delete>

    <insert id="batchInsertField">
        INSERT IGNORE INTO fd_field_value
        (instance_id,project_id,scheme_code, field_id,option_id, string_value, number_value, text_value, date_value)
        values
        <foreach collection="fieldValues" item="fieldValue" index="index"
                 separator=",">
            (#{fieldValue.instanceId}, #{projectId}, #{schemeCode}, #{fieldValue.fieldId},
            #{fieldValue.optionId}, #{fieldValue.stringValue}, #{fieldValue.numberValue}, #{fieldValue.textValue},
            #{fieldValue.dateValue})
        </foreach>
    </insert>

    <select id="queryListByInstanceIds" resultMap="fieldValueMap">
        SELECT fv.*,
        fo.value as option_value,
        f.field_type
        FROM fd_field_value fv
        LEFT JOIN fd_field_option fo ON fo.id = fv.option_id
        LEFT JOIN fd_object_scheme_field f ON f.id = fv.field_id
        WHERE 1 = 1
        <if test="projectIds != null and projectIds.size > 0">
            AND fv.project_id in
            <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        <if test="instanceIds != null">
            AND fv.instance_id in
            <foreach collection="instanceIds" item="instanceId" open="(" separator="," close=")">
                #{instanceId}
            </foreach>
        </if>
        <if test="schemeCode != null">
            AND fv.scheme_code = #{schemeCode}
        </if>
        <if test="fieldId != null">
            AND fv.field_id = #{fieldId}
        </if>
    </select>

    <select id="selectByFieldIds" resultType="io.choerodon.agile.infra.dto.FieldValueDTO">
        select *
        from fd_field_value
        where project_id = #{projectId}
        and scheme_code = #{schemeCode}
        and instance_id = #{instanceId}
        and field_id in
        <foreach collection="fieldIds" item="fieldId" open="(" separator="," close=")">
            #{fieldId}
        </foreach>
    </select>

    <select id="queryInstanceByFieldIdAndIssueTypeId" resultType="java.lang.Long">
        SELECT fv.instance_id
        FROM fd_field_value fv
        <if test="schemeCode !=null and schemeCode == 'agile_issue'">
            LEFT JOIN agile_issue ai ON fv.instance_id = ai.issue_id AND fv.project_id = ai.project_id
        </if>
        WHERE fv.field_id = #{fieldId}
        <if test="schemeCode != null">
            AND fv.scheme_code = #{schemeCode}
        </if>
        <if test="schemeCode != null and schemeCode == 'agile_issue' and issueTypeId != null">
            AND ai.issue_type_id = #{issueTypeId}
        </if>
        <if test="projectIds != null and projectIds.size > 0">
            AND fv.project_id in
            <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
    </select>

    <select id="queryInstanceCountByFieldIds" resultType="io.choerodon.agile.api.vo.FieldInstanceCountVO">
        SELECT
           fv.field_id,
           count(fv.instance_id) AS instanceCount
        FROM fd_field_value fv
        <if test="schemeCode !=null and schemeCode == 'agile_issue'">
            LEFT JOIN agile_issue ai ON fv.instance_id = ai.issue_id AND fv.project_id = ai.project_id
        </if>
        WHERE 1=1
        AND fv.field_id IN
        <foreach collection="fieldIds" item="fieldId" open="(" separator="," close=")">
            #{fieldId}
        </foreach>
        <if test="schemeCode != null">
            AND fv.scheme_code = #{schemeCode}
        </if>
        <if test="schemeCode != null and schemeCode == 'agile_issue' and issueTypeId != null">
            AND ai.issue_type_id = #{issueTypeId}
        </if>
        <if test="projectIds != null and projectIds.size > 0">
            AND fv.project_id in
            <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        GROUP BY fv.field_id
    </select>

    <update id="updateProjectId">
        update fd_field_value set project_id = #{targetProjectId}
        where project_id = #{projectId}
        AND instance_id = #{issueId}
        AND scheme_code = #{schemeCode}
    </update>
</mapper>
