<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.FieldDataLogMapper">

    <resultMap id="fieldDataLogMap" type="io.choerodon.agile.infra.dto.FieldDataLogDTO">
        <id property="id" column="id"/>
        <id property="fieldId" column="field_id"/>
        <id property="instanceId" column="instance_id"/>
        <id property="oldValue" column="old_value"/>
        <id property="oldString" column="old_string"/>
        <id property="newValue" column="new_value"/>
        <id property="newString" column="new_string"/>
        <id property="projectId" column="project_id"/>
        <id property="schemeCode" column="scheme_code"/>

        <id property="fieldCode" column="field_code"/>
        <id property="fieldName" column="field_name"/>

        <id property="creationDate" column="creation_date"/>
        <id property="createdBy" column="created_by"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="objectVersionNumber" column="object_version_number"/>
    </resultMap>

    <select id="queryByInstanceId" resultMap="fieldDataLogMap">
        SELECT
        fdl.*,
        osf.code field_code,
        osf.name field_name
        FROM fd_field_data_log fdl
        LEFT JOIN fd_object_scheme_field osf ON osf.id = fdl.field_id
        WHERE fdl.project_id = #{projectId}
        AND fdl.scheme_code = #{schemeCode}
        AND fdl.instance_id = #{instanceId}
        order by fdl.id desc
    </select>

    <insert id="batchInsert">
        insert into fd_field_data_log(project_id,scheme_code,field_id,instance_id,old_value,old_string,new_value,new_string,created_by,last_updated_by)
        values
        <foreach collection="list" item="fieldDateLog" separator=",">
            (#{projectId},#{schemeCode},#{fieldDateLog.fieldId},#{fieldDateLog.instanceId},#{fieldDateLog.oldValue},#{fieldDateLog.oldString},#{fieldDateLog.newValue},#{fieldDateLog.newString},#{userId},#{userId})
        </foreach>
    </insert>

    <delete id="deleteByInstanceIdAndFieldIds">
        delete from fd_field_data_log
        where project_id = #{projectId}
        and instance_id = #{instanceId}
        and scheme_code = #{schemeCode}
        <if test="fieldIds != null and fieldIds.size > 0">
            and field_id in
            <foreach collection="fieldIds" item="fieldId" open="(" close=")" separator=",">
                #{fieldId}
            </foreach>
        </if>
    </delete>

    <delete id="deleteByInstanceIdsAndFieldIds">
        delete from fd_field_data_log
        where project_id = #{projectId}
        and instance_id in
        <foreach collection="instanceIds" item="instanceId" open="(" close=")" separator=",">
            #{instanceId}
        </foreach>
        and scheme_code = #{schemeCode}
        <if test="fieldIds != null and fieldIds.size > 0">
            and field_id in
            <foreach collection="fieldIds" item="fieldId" open="(" close=")" separator=",">
                #{fieldId}
            </foreach>
        </if>
    </delete>

    <update id="updateProjectId">
        update fd_field_data_log set project_id = #{targetProjectId}
        where project_id = #{projectId}
        AND instance_id = #{instanceId}
        AND scheme_code = #{schemeCode}
    </update>

    <select id="listFdDataLogByProjectId" resultType="io.choerodon.agile.api.vo.business.AllDataLogVO">
        SELECT
            ffdl.id AS log_id,
            ffdl.project_id,
            osf.code AS field,
            osf.name AS field_name,
            ffdl.old_value,
            ffdl.old_string,
            ffdl.new_value,
            ffdl.new_string,
            ffdl.instance_id,
            ffdl.scheme_code AS log_type,
            ffdl.created_by,
            ffdl.creation_date,
            1 AS is_cus_log
        FROM fd_field_data_log ffdl
        LEFT JOIN fd_object_scheme_field osf ON osf.id = ffdl.field_id
        WHERE ffdl.project_id = #{projectId}
        <if test="!containBacklog">
            AND ffdl.scheme_code = 'agile_issue'
        </if>
        <if test="!containIssue">
            AND ffdl.scheme_code = 'backlog'
        </if>
        <if test="dataLogQueryVO != null">
            <if test="dataLogQueryVO.createdByIds != null and dataLogQueryVO.createdByIds.size() != 0">
                AND ffdl.created_by IN
                <foreach collection="dataLogQueryVO.createdByIds" item="createdBy" open="(" separator=","
                         close=")">
                    #{createdBy}
                </foreach>
            </if>
            <if test="dataLogQueryVO.startDate != null">
                AND ffdl.creation_date &gt;= #{dataLogQueryVO.startDate}
            </if>
            <if test="dataLogQueryVO.endDate != null">
                AND ffdl.creation_date &lt;= #{dataLogQueryVO.endDate}
            </if>
            <if test="dataLogQueryVO.typeIds != null and dataLogQueryVO.typeIds.size() != 0">
                AND ffdl.instance_id IN (
                SELECT issue_id FROM agile_issue ai
                WHERE ai.issue_type_id IN
                <foreach collection="dataLogQueryVO.typeIds" item="typeId" open="(" separator=","
                         close=")">
                    #{typeId}
                </foreach>)
            </if>
        </if>
    </select>
</mapper>
