<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.FieldPermissionMapper">
    <delete id="deleteByIds">
        delete from fd_field_permission
        where id in
        <foreach collection="fieldPermissionIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByFieldId">
        delete ffp.*
        from fd_field_permission ffp
        where ffp.organization_id = #{organizationId}
        <if test="projectId != null">
            and ffp.project_id = #{projectId}
        </if>
        and ffp.field_id = #{fieldId}
        <if test="issueTypeId != null">
            and ffp.issue_type_id = #{issueTypeId}
        </if>
    </delete>

    <select id="selectByFieldIds" resultType="io.choerodon.agile.infra.dto.FieldPermissionDTO">
        select * from fd_field_permission
        where organization_id = #{organizationId}
        and project_id = #{projectId}
        and field_id in
        <foreach collection="fieldIds" item="fieldId" index="index" open="(" close=")" separator=",">
            #{fieldId}
        </foreach>
        <if test="issueTypeIds != null and issueTypeIds.size() > 0">
            and issue_type_id in
            <foreach collection="issueTypeIds" item="issueTypeId" index="index" open="(" close=")" separator=",">
                #{issueTypeId}
            </foreach>
        </if>
    </select>

    <select id="filterHasPermissionFields" resultType="java.lang.Long">
        select
        ffp.field_id
        from
        fd_field_permission ffp
        where ffp.organization_id = #{organizationId}
        and ffp.project_id = #{projectId}
        and ffp.permission = #{permissionVO.scope}
        and ffp.issue_type_id in
        <foreach collection="issueTypeIds" item="issueTypeId" index="index" open="(" close=")" separator=",">
            #{issueTypeId}
        </foreach>
        and ffp.field_id in
        <foreach collection="fieldIds" item="fieldId" index="index" open="(" close=")" separator=",">
            #{fieldId}
        </foreach>
        and (
            (
                ffp.type = 'user'
                and ffp.role_member_id in
                <foreach collection="permissionVO.userIds" item="userId" index="index" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            )
            <if test="permissionVO.roleIds != null and permissionVO.roleIds.size() > 0">
                or (
                    ffp.type = 'role'
                    and ffp.role_member_id in
                    <foreach collection="permissionVO.roleIds" item="roleId" index="index" open="(" close=")" separator=",">
                        #{roleId}
                    </foreach>
                )
            </if>
        )
        union
        select fosf.id
        from fd_object_scheme_field fosf
        left join fd_field_permission ffp on (
            ffp.organization_id = #{organizationId}
            and ffp.project_id = #{projectId}
            and fosf.id = ffp.field_id
            and ffp.permission = #{permissionVO.scope}
            and ffp.issue_type_id in
            <foreach collection="issueTypeIds" item="issueTypeId" index="index" open="(" close=")" separator=",">
                #{issueTypeId}
            </foreach>
        )
        where fosf.id in
        <foreach collection="fieldIds" item="fieldId" index="index" open="(" close=")" separator=",">
            #{fieldId}
        </foreach>
        and ffp.id is null
    </select>

    <select id="isPermissionsConfigured" resultType="java.lang.Boolean">
        select
        count(ffp.id) != 0 as configured
        from fd_field_permission ffp
        where ffp.organization_id = #{organizationId}
        and ffp.project_id = #{projectId}
        <if test="issueTypeIds != null and issueTypeIds.size() > 0">
            and ffp.issue_type_id in
            <foreach collection="issueTypeIds" item="issueTypeId" index="index" open="(" close=")" separator=",">
                #{issueTypeId}
            </foreach>
        </if>
    </select>

    <select id="selectFieldsWithPermissions" resultType="io.choerodon.agile.infra.dto.FieldPermissionDTO">
        select
        fosf.id as field_id,
        ffp.issue_type_id,
        ffp.role_member_id,
        ffp.type,
        ffp.permission
        from fd_object_scheme_field fosf
        left join fd_field_permission ffp on (
            ffp.organization_id = #{organizationId}
            and ffp.project_id = #{projectId}
            and fosf.id = ffp.field_id
            <if test="permissionVO != null and permissionVO.scope != null">
                and ffp.permission = #{permissionVO.scope}
            </if>
            and ffp.issue_type_id in
            <foreach collection="issueTypeIds" item="issueTypeId" index="index" open="(" close=")" separator=",">
                #{issueTypeId}
            </foreach>
        )
        where fosf.id in
        <foreach collection="fieldIds" item="fieldId" index="index" open="(" close=")" separator=",">
            #{fieldId}
        </foreach>
    </select>

    <select id="selectByOptions" resultType="io.choerodon.agile.infra.dto.FieldPermissionDTO">
        select ffp.*
        from fd_field_permission ffp
        where 1=1
        <if test="projectIds != null and projectIds.size > 0">
            AND ffp.project_id in
            <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
        <if test="fieldIds != null and fieldIds.size() > 0">
            and ffp.field_id in
            <foreach collection="fieldIds" item="fieldId" open="(" separator="," close=")">
                #{fieldId}
            </foreach>
        </if>
        <if test="issueTypeId != null">
            and ffp.issue_type_id = #{issueTypeId}
        </if>
    </select>
</mapper>
