<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.IssueLinkMapper">
    <delete id="deleteByIssueId">
        DELETE FROM agile_issue_link
        WHERE issue_id = #{issueId} OR linked_issue_id = #{issueId}
    </delete>

    <select id="queryIssueLinkByIssueId" resultType="io.choerodon.agile.infra.dto.IssueLinkDTO">
        SELECT a.*
        FROM
        (
        SELECT
        ail.issue_id, ail.linked_issue_id, ail.object_version_number, ail.created_by, ail.creation_date,
        ail.last_updated_by, ail.last_update_date, ail.link_id, ail.link_type_id, ail.project_id,
        ailt.link_name AS link_type_name,
        ailt.out_ward AS ward,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        ai.issue_num AS issue_num1,
        ai.summary,
        ai.priority_id,
        ai.status_id,
        ai.issue_type_id,
        ai.assignee_id,
        ai.apply_type,
        ai.type_code,
        ai.project_id AS linkedIssueProjectId,
        ail.issue_id as key_issue_id
        FROM
        agile_issue_link ail
        LEFT JOIN agile_issue_link_type ailt ON ailt.link_type_id = ail.link_type_id
        LEFT JOIN agile_issue ai ON ail.linked_issue_id = ai.issue_id
        LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
        WHERE
        ail.issue_id in
        <foreach collection="issueIds" item="issueId" open="(" close=")" separator=",">
                        #{issueId}
                    </foreach>
                    AND ai.project_id in
                    <foreach collection="projectIds" item="projectId" open="(" close=")" separator=",">
                        #{projectId}
                    </foreach>
                    <if test="noIssueTest">
                        AND ai.apply_type = 'agile'
                    </if>
        UNION ALL
        SELECT
        ail1.issue_id, ail1.linked_issue_id, ail1.object_version_number, ail1.created_by, ail1.creation_date,
        ail1.last_updated_by, ail1.last_update_date, ail1.link_id, ail1.link_type_id, ail1.project_id,
        ailt1.link_name AS link_type_name,
        ailt1.in_ward AS ward,
        CONCAT_WS('-', api1.project_code, ai1.issue_num) AS issue_num,
        ai1.issue_num AS issue_num1,
        ai1.summary,
        ai1.priority_id,
        ai1.status_id,
        ai1.issue_type_id,
        ai1.assignee_id,
        ai1.apply_type,
        ai1.type_code,
        ai1.project_id AS linkedIssueProjectId,
        ail1.linked_issue_id as key_issue_id
        FROM
        agile_issue_link ail1
        LEFT JOIN agile_issue_link_type ailt1 ON ailt1.link_type_id = ail1.link_type_id
        LEFT JOIN agile_issue ai1 ON ail1.issue_id = ai1.issue_id
        LEFT JOIN agile_project_info api1 ON api1.project_id = ai1.project_id
        LEFT JOIN agile_issue_link ail2 ON ail1.issue_id = ail2.linked_issue_id AND ail1.linked_issue_id = ail2.issue_id
        AND ail1.link_type_id = ail2.link_type_id
        WHERE
        ail1.linked_issue_id in
        <foreach collection="issueIds" item="issueId" open="(" close=")" separator=",">
                        #{issueId}
                    </foreach>
                    AND ai1.project_id in
                    <foreach collection="projectIds" item="projectId" open="(" close=")" separator=",">
                        #{projectId}
                    </foreach>
                    <if test="noIssueTest">
                        AND ai1.apply_type = 'agile'
                    </if>
                    AND ail2.linked_issue_id IS NULL
            ) a
        ORDER BY
            a.issue_num1 desc
    </select>

    <update id="batchUpdateRelToIssueLinkType">
        UPDATE agile_issue_link
        SET link_type_id = #{toIssueLinkTypeId}
        WHERE link_type_id = #{issueLinkTypeId}
    </update>

    <select id="listIssueLinkByBatch" resultType="io.choerodon.agile.infra.dto.IssueLinkDTO">
        SELECT a.*
        FROM
        (
            SELECT
                ail.*,
                ailt.link_name                                 AS link_type_name,
                ailt.out_ward                                  AS ward,
                CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
                ai.summary,
                ai.priority_id,
                ai.status_id,
                ai.issue_type_id,
                ai.apply_type,
                ai.type_code
            FROM
                agile_issue_link ail
            LEFT JOIN agile_issue_link_type ailt ON ailt.link_type_id = ail.link_type_id
            LEFT JOIN agile_issue ai ON ail.linked_issue_id = ai.issue_id
            LEFT JOIN agile_project_info api ON api.project_id = ai.project_id
            WHERE
            ail.issue_id IN
                <foreach collection="issueIds" item="issueId" open="("
                         separator="," close=")">
                    #{issueId}
                </foreach>
            AND ai.project_id = #{projectId}
            UNION ALL
            SELECT
                ail1.*,
                ailt1.link_name                                  AS link_type_name,
                ailt1.in_ward                                    AS ward,
                CONCAT_WS('-', api1.project_code, ai1.issue_num) AS issue_num,
                ai1.summary,
                ai1.priority_id,
                ai1.status_id,
                ai1.issue_type_id,
                ai1.apply_type,
                ai1.type_code
            FROM
                agile_issue_link ail1
            LEFT JOIN agile_issue_link_type ailt1 ON ailt1.link_type_id = ail1.link_type_id
            LEFT JOIN agile_issue ai1 ON ail1.issue_id = ai1.issue_id
            LEFT JOIN agile_project_info api1 ON api1.project_id = ai1.project_id
            WHERE
            ail1.linked_issue_id IN
                <foreach collection="issueIds" item="issueId" open="("
                         separator="," close=")">
                    #{issueId}
                </foreach>
            AND ai1.project_id = #{projectId}
        ) a
        ORDER BY
        a.link_type_name
    </select>

    <select id="listIssueLinkByIssueIds" resultType="io.choerodon.agile.infra.dto.IssueLinkDTO">
      SELECT
	    ail.*
      FROM agile_issue_link ail
      WHERE ail.issue_id IN (
            SELECT
                ai.issue_id
            FROM
                agile_issue ai
            WHERE
                ai.project_id = #{projectId}
            AND ai.apply_type = 'test'
            AND ai.type_code IN (
                'issue_test',
                'issue_auto_test'
            )
        )
    </select>

    <select id="issueLinkChangeByProjectId" resultType="io.choerodon.agile.api.vo.IssueLinkChangeVO">

            SELECT
                aii.*,
                flisl.id as linkSettingId,
                flisl.status_id,
                flisl.link_issue_status_id,
                flisl.is_triggered
            FROM
                (
                SELECT
                    ail.issue_id,
                    ail.linked_issue_id,
                    ail.link_type_id,
                    ai.issue_type_id,
                    ai1.issue_type_id AS link_issue_type_id,
                    ail.project_id
                FROM
                    agile_issue_link ail
                    LEFT JOIN agile_issue ai ON ai.issue_id = ail.issue_id
                    LEFT JOIN agile_issue ai1 ON ai1.issue_id = ail.linked_issue_id
                WHERE
                    ail.project_id = #{projectId}
                ) aii
                LEFT JOIN fd_link_issue_status_linkage flisl ON flisl.project_id = #{projectId}
                AND flisl.link_type_id = aii.link_type_id
                AND aii.issue_type_id = flisl.issue_type_id
                AND aii.link_issue_type_id = flisl.link_issue_type_id
            WHERE
                flisl.status_id IS NOT NULL
    </select>

    <select id="listByIssueIdAndLinkTypeId" resultType="io.choerodon.agile.infra.dto.IssueLinkDTO">
        select * from agile_issue_link
        where project_id = #{projectId}
        and issue_id = #{issueId}
        <if test="linkTypeIds != null and linkTypeIds.size() > 0">
            and link_type_id in
            <foreach collection="linkTypeIds" item="linkTypeId" open="(" separator="," close=")">
                #{linkTypeId}
            </foreach>
        </if>
    </select>
</mapper>