<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.agile.infra.mapper.IssueTypeExtendMapper">


    <select id="selectByIssueTypeIds" resultType="io.choerodon.agile.infra.dto.IssueTypeExtendDTO">
        select *
        from fd_issue_type_extend t1
        where t1.organization_id = #{organizationId}
        <if test="projectId != null">
            and t1.project_id = #{projectId}
        </if>
        <choose>
            <when test="issueTypeIds != null and issueTypeIds.size() != 0">
                and t1.issue_type_id in
                <foreach collection="issueTypeIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                and 1 = 2
            </otherwise>
        </choose>
    </select>

    <select id="selectMaxRank" resultType="java.lang.String">
        select fite.rank
        from fd_issue_type_extend fite
        where fite.organization_id = #{organizationId}
        and fite.project_id = #{projectId}
        <if test="rank != null">
            and fite.rank &lt; #{rank}
        </if>
        order by fite.rank desc
        limit 1
    </select>
</mapper>
