<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.IssueStatusMapper">

    <resultMap id="statusAndIssuesMap" type="io.choerodon.agile.infra.dto.StatusAndIssuesDTO">
        <id property="id" column="ais_id"/>
        <id property="projectId" column="ais_project_id"/>
        <id property="statusId" column="ais_status_id"/>
        <id property="completed" column="ais_completed"/>
        <id property="objectVersionNumber" column="ais_object_version_number"/>
        <collection property="issues" autoMapping="true" columnPrefix="ai_"
                    ofType="io.choerodon.agile.infra.dto.IssueForBoardDO"/>
    </resultMap>

    <select id="queryUnCorrespondStatus" resultMap="statusAndIssuesMap">
        SELECT
            ais.id                    AS ais_id,
            ais.project_id            AS ais_project_id,
            ais.status_id             AS ais_status_id,
            ais.is_completed          AS ais_completed,
            ais.object_version_number AS ais_object_version_number,
            ai.issue_id               AS ai_issue_id,
            ai.summary                AS ai_summary,
            ai.object_version_number  AS ai_object_version_number
        FROM
            agile_issue_status ais
            LEFT JOIN agile_issue ai ON ai.status_id = ais.status_id and ai.project_id = #{projectId}
        WHERE
            ais.project_id = #{projectId}
            and ais.status_id in
            <foreach collection="realStatusIds" item="id" open="(" separator=","
                     close=")">
                #{id}
            </foreach>
            AND (
                    SELECT COUNT(1) AS num
                    FROM
                        agile_board_column_status_rel abcsr, agile_board_column abc
                    WHERE
                        abc.board_id = #{boardId}
                        AND abcsr.column_id = abc.column_id
                        AND ais.status_id = abcsr.status_id
                        and ais.project_id = #{projectId}
                ) = 0
    </select>

    <select id="selectByStatusId" resultType="io.choerodon.agile.infra.dto.IssueStatusDTO">
        SELECT
        ais.*,
        ais.is_enable enable,
        ais.is_completed completed
        FROM agile_issue_status ais
        WHERE ais.project_id = #{projectId} AND ais.status_id = #{statusId}
    </select>

    <select id="listWithCompleted" resultType="io.choerodon.agile.api.vo.StatusVO">
        select t1.*,
        IFNULL(t2.is_completed, 0) as completed
        from fd_status t1
        left join agile_issue_status t2 on (t2.project_id = #{projectId} and t1.id = t2.status_id )
        where t1.organization_id = #{organizationId}
    </select>

    <select id="listCompletedStatus" resultType="io.choerodon.agile.api.vo.StatusVO">
        select fs.*
        from fd_status fs
        join agile_issue_status ais on fs.id = ais.status_id
        where ais.is_completed = 1
        and ais.project_id in
        <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </select>

    <insert id="batchCreateStatusByProjectIds">
        <foreach collection="addStatusWithProjects" item="addStatusWithProject" separator=";">
            INSERT ignore agile_issue_status(project_id,name,is_enable,category_code,created_by,is_completed,status_id)
            values
            <foreach collection="addStatusWithProject.addStatuses" item="status" index="index" separator=",">
                (#{addStatusWithProject.projectId} , #{status.name} ,0 , #{status.type},#{userId},0, #{status.id})
            </foreach>
        </foreach>
    </insert>

    <select id="listStatusByIds" resultType="io.choerodon.agile.api.vo.StatusVO">
        select
        fs.id,
        fs.name,
        fs.code,
        fs.description,
        fs.type,
        fs.object_version_number,
        ais.is_completed as completed
        from fd_status fs
        join agile_issue_status ais on (ais.project_id = #{projectId} and fs.id = ais.status_id)
        where fs.organization_id = #{organizationId}
        and fs.id in
        <foreach collection="statusIds" item="statusId" open="(" separator="," close=")">
            #{statusId}
        </foreach>
    </select>

    <select id="queryUnCompletedStatus" resultType="java.lang.Long">
        select ais.status_id from agile_issue_status ais
        where ais.project_id = #{projectId}
        and ais.is_completed != 1
    </select>
</mapper>