<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.LabelIssueRelMapper">
    <select id="queryByIssueIds" resultType="io.choerodon.agile.infra.dto.LabelIssueRelDTO">
       SELECT
            *
        FROM
            `agile_label_issue_rel`
        WHERE
            issue_id IN (
                SELECT
			issue_id
		FROM
			agile_issue
		WHERE
			project_id = #{projectId}
		AND type_code IN (
			'issue_auto_test',
			'issue_test'
		)
		AND apply_type = 'test'
	);
    </select>


</mapper>