<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.ProductVersionMapper">

    <select id="queryVersionIdsByProjectId" resultType="java.lang.Long">
        SELECT version_id
        FROM agile_product_version
        WHERE project_id = #{projectId}
        <if test='searchArgs != null'>
            <if test='searchArgs.name != null and searchArgs.name != "" '>
                AND name LIKE CONCAT(CONCAT('%' ,#{searchArgs.name}) ,'%')
            </if>
            <if test='searchArgs.description != null and searchArgs.description != ""'>
                AND description LIKE CONCAT(CONCAT('%' ,#{searchArgs.description}) ,'%')
            </if>
        </if>
        <if test='advancedSearchArgs != null'>
            <if test='advancedSearchArgs.statusCodes != null and advancedSearchArgs.statusCodes.size > 0'>
                AND status_code IN
                <foreach collection="advancedSearchArgs.statusCodes" item="statusCode" open="(" separator="," close=")">
                    #{statusCode}
                </foreach>
            </if>
        </if>
        <if test='contents != null and contents.size != 0'>
            <foreach collection="contents" item="content" index="index">
                AND (name LIKE CONCAT(CONCAT('%', #{content}), '%') OR description LIKE CONCAT(CONCAT('%',#{content}),
                '%'))
            </foreach>
        </if>
    </select>

    <select id="queryVersionByIds" resultType="io.choerodon.agile.infra.dto.ProductVersionDTO">
        SELECT
        apv.version_id, apv.name,
        apv.description, apv.start_date,
        apv.expect_release_date,
        apv.release_date, apv.status_code,
        apv.project_id,
        apv.object_version_number,
        apv.sequence,
        alv. NAME AS STATUS,
        apv.creation_date,
        apv.created_by,
        apv.release_date
        FROM
        agile_product_version apv
        LEFT JOIN lookup_value alv ON alv.value_code = apv.status_code
        WHERE apv.project_id = #{projectId} AND apv.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
        order by CASE apv.version_id
        <foreach collection="versionIds" item="versionId" index="index">
            when #{versionId} then #{index}
        </foreach>
        END
    </select>

    <select id="isRepeatName" resultType="java.lang.Boolean">
        SELECT IF(COUNT(1) = 0, FALSE, TRUE)
        FROM agile_product_version
        WHERE project_id = #{projectId} AND name = #{name}
    </select>

    <select id="isNotReName" resultType="java.lang.Boolean">
        SELECT IF(name = #{name}, TRUE, FALSE)
        FROM agile_product_version
        WHERE project_id = #{projectId} AND version_id = #{versionId}
    </select>

    <select id="queryVersionByProjectId" resultType="io.choerodon.agile.infra.dto.ProductVersionDataDTO">
        SELECT
            version_id,
            name,
            description,
            start_date,
            expect_release_date,
            release_date,
            status_code,
            project_id,
            sequence,
            object_version_number
        FROM agile_product_version
        WHERE project_id = #{projectId} AND status_code = 'version_planning'
        ORDER BY version_id DESC
    </select>

    <select id="queryIssueCount" resultType="io.choerodon.agile.infra.dto.IssueCountDTO">
        SELECT
        apv.version_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_product_version apv
        LEFT JOIN (
        SELECT
        avir.version_id AS version_id, COUNT(1) AS issue_count
        FROM agile_version_issue_rel avir, agile_issue ai, agile_issue_status ais
        WHERE ai.project_id = #{projectId} AND avir.issue_id = ai.issue_id AND avir.relation_type = 'fix'
        AND ai.type_code in ('story', 'task', 'bug', 'issue_epic') AND ai.status_id = ais.status_id and ai.project_id = ais.project_id
        <if test="statusIds!=null and statusIds.size> 0 ">
            and ai.status_id in
            <foreach collection="statusIds" item="statusId" index="index"
                     open="(" close=")" separator=",">
                #{statusId}
            </foreach>
        </if>
        AND avir.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
        GROUP BY avir.version_id
        ) ic ON ic.version_id = apv.version_id
        WHERE apv.project_id = #{projectId} AND apv.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
    </select>

    <select id="queryNotEstimate" resultType="io.choerodon.agile.infra.dto.IssueCountDTO">
        SELECT
        apv.version_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_product_version apv
        LEFT JOIN (
        SELECT
        avir.version_id AS version_id, COUNT(1) AS issue_count
        FROM agile_version_issue_rel avir, agile_issue ai
        WHERE ai.project_id = #{projectId} AND avir.issue_id = ai.issue_id AND avir.relation_type = 'fix'
        AND ai.type_code = 'story' AND (ai.story_points IS NULL OR ai.story_points = 0)
        AND avir.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
        GROUP BY avir.version_id
        ) ic ON ic.version_id = apv.version_id
        WHERE apv.project_id = #{projectId} AND apv.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
    </select>

    <select id="queryTotalEstimate" resultType="io.choerodon.agile.infra.dto.IssueCountDTO">
        SELECT
        apv.version_id AS id, IFNULL(ic.issue_count, 0) AS issue_count
        FROM agile_product_version apv
        LEFT JOIN (
        SELECT
        avir.version_id AS version_id, SUM(ai.story_points) AS issue_count
        FROM agile_version_issue_rel avir, agile_issue ai
        WHERE ai.project_id = #{projectId} AND avir.issue_id = ai.issue_id
        AND avir.relation_type = 'fix' AND ai.type_code = 'story'
        AND avir.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
        GROUP BY avir.version_id
        ) ic ON ic.version_id = apv.version_id
        WHERE apv.project_id = #{projectId} AND apv.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
    </select>

    <select id="queryVersionStatisticsByVersionId"
            resultType="io.choerodon.agile.infra.dto.ProductVersionStatisticsDTO">
        SELECT
            apv.version_id,
            apv.name,
            apv.description,
            apv.start_date,
            apv.expect_release_date,
            apv.release_date,
            apv.status_code,
            alv.name AS status_name,
            apv.project_id
        FROM agile_product_version apv
            LEFT JOIN lookup_value alv ON alv.value_code = apv.status_code
        WHERE apv.project_id = #{projectId} AND apv.version_id = #{versionId}
    </select>

    <resultMap id="versionDeatilMap" type="io.choerodon.agile.infra.dto.business.IssueDTO">
        <id column="issue_id" property="issueId"/>
        <id column="issue_num" property="issueNum"/>
        <id column="type_code" property="typeCode"/>
        <id column="status_id" property="statusId"/>
        <id column="summary" property="summary"/>
        <id column="priority_id" property="priorityId"/>
        <id column="issue_type_id" property="issueTypeId"/>
        <id column="assignee_id" property="assigneeId"/>
        <id column="project_id" property="projectId"/>
        <id column="project_id" property="projectId"/>
        <collection property="issueComponentBriefDTOS" autoMapping="true" ofType="io.choerodon.agile.infra.dto.IssueComponentBriefDTO">
            <id column="component_id" property="componentId"/>
            <id column="name" property="name"/>
        </collection>
    </resultMap>

    <select id="queryIssueByVersionIdAndStatusCode" resultMap="versionDeatilMap">
        select search.* from (
        SELECT
        ai.issue_id,
        CONCAT_WS('-', api.project_code, ai.issue_num) AS issue_num,
        ai.type_code,
        ai.status_id,
        ai.summary,
        ai.priority_id,
        ai.issue_type_id,
        ai.assignee_id,
        ai.project_id,
        acir.component_id,
        aic.name
        FROM agile_issue ai
        left join agile_component_issue_rel acir on acir.project_id = #{projectId} and ai.issue_id = acir.issue_id
        left join agile_issue_component aic on acir.component_id = aic.component_id
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        , agile_version_issue_rel avir
        WHERE ai.project_id = #{projectId} AND avir.version_id = #{versionId} AND avir.relation_type = 'fix'
        AND ai.issue_id = avir.issue_id
        AND ai.apply_type = 'agile'
        <if test="statusCode != null">
            AND ai.status_id in
            <foreach collection="filterStatusIds" item="filterStatusId" index="index"
                     open="(" close=")" separator=",">
                #{filterStatusId}
            </foreach>
        </if>
        <if test='searchVO.searchArgs != null'>
            <if test='searchVO.searchArgs.summary != null and searchVO.searchArgs.summary != "" '>
                AND ai.summary LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.summary}) ,'%')
            </if>
        </if>
        <if test='searchVO.advancedSearchArgs != null'>
            <if test='searchVO.advancedSearchArgs.issueTypeId != null and searchVO.advancedSearchArgs.issueTypeId.size > 0'>
                AND ai.issue_type_id IN
                <foreach collection="searchVO.advancedSearchArgs.issueTypeId" item="issueTypeId" open="(" separator=","
                         close=")">
                    #{issueTypeId}
                </foreach>
            </if>
            <if test='searchVO.advancedSearchArgs.assigneeIds != null and searchVO.advancedSearchArgs.assigneeIds.size > 0'>
                AND ai.assignee_id IN
                <foreach collection="searchVO.advancedSearchArgs.assigneeIds" item="assigneeId" open="(" separator=","
                         close=")">
                    #{assigneeId}
                </foreach>
            </if>
            <if test='searchVO.advancedSearchArgs.priorityId != null and searchVO.advancedSearchArgs.priorityId.size > 0'>
                AND ai.priority_id IN
                <foreach collection="searchVO.advancedSearchArgs.priorityId" item="priorityId" open="(" separator=","
                         close=")">
                    #{priorityId}
                </foreach>
            </if>
            <if test='searchVO.advancedSearchArgs.statusId != null and searchVO.advancedSearchArgs.statusId.size > 0'>
                and ai.status_id in
                <foreach collection="searchVO.advancedSearchArgs.statusId" item="statusId" open="(" separator=","
                         close=")">
                    #{statusId}
                </foreach>
            </if>
        </if>
        )search
        where 1=1
        <if test='searchVO.searchArgs != null'>
            <if test='searchVO.searchArgs.issueNum != null and searchVO.searchArgs.issueNum != ""'>
                AND search.issue_num LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.issueNum}) ,'%')
            </if>
        </if>
        <if test='searchVO.contents != null and searchVO.contents.size != 0'>
            <foreach collection="searchVO.contents" item="content" index="index">
                AND (search.issue_num LIKE CONCAT(CONCAT('%', #{content}), '%') OR search.summary LIKE
                CONCAT(CONCAT('%',
                #{content}), '%'))
            </foreach>
        </if>
    </select>

    <select id="queryNotDoneIssueCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM agile_version_issue_rel avir, agile_issue ai, agile_issue_status ais
        WHERE avir.version_id = #{versionId} AND ai.project_id = #{projectId}
              AND avir.issue_id = ai.issue_id AND avir.relation_type = 'fix' AND ai.status_id = ais.status_id and ai.project_id = ais.project_id
              AND ais.is_completed != 1
              AND ai.apply_type = 'agile'
    </select>

    <select id="queryPlanVersionNames" resultType="io.choerodon.agile.infra.dto.ProductVersionNameDTO">
        SELECT
            version_id,
            name
        FROM agile_product_version
        WHERE project_id = #{projectId} AND version_id != #{versionId}
              AND status_code = 'version_planning'
    </select>

    <insert id="issueToDestination">
        INSERT IGNORE INTO agile_version_issue_rel
        (version_id, issue_id, project_id, relation_type, creation_date, last_update_date, created_by, last_updated_by)
        values
        <foreach collection="versionIssues" item="versionIssue" index="index"
                 separator=",">
            (#{targetVersionId}, #{versionIssue.issueId}, #{projectId}, #{versionIssue.relationType}, #{date}, #{date},
            #{userId}, #{userId})
        </foreach>
    </insert>

    <select id="queryIncompleteIssues" resultType="io.choerodon.agile.infra.dto.VersionIssueDTO">
        SELECT
            ai.issue_id,
            avir.relation_type
        FROM agile_version_issue_rel avir, agile_issue ai, agile_issue_status ais
        WHERE avir.version_id = #{versionId} AND ai.project_id = #{projectId}
              AND avir.issue_id = ai.issue_id AND avir.relation_type = 'fix' AND ai.status_id = ais.status_id and ai.project_id = ais.project_id
              AND ais.is_completed != 1
    </select>

    <select id="queryIssuesByRelationType" resultType="io.choerodon.agile.infra.dto.VersionIssueDTO">
        SELECT
            ai.issue_id,
            avir.relation_type
        FROM agile_version_issue_rel avir, agile_issue ai
        WHERE avir.version_id = #{versionId} AND ai.project_id = #{projectId} AND avir.relation_type = #{relationType}
              AND avir.issue_id = ai.issue_id
    </select>

    <select id="queryIssueForLogByVersionIds" resultType="io.choerodon.agile.infra.dto.VersionIssueDTO">
        SELECT avir.issue_id, avir.relation_type,apv.name,avir.version_id
        FROM agile_version_issue_rel avir left join agile_product_version apv on apv.version_id = avir.version_id
        WHERE avir.project_id = #{projectId}
        AND avir.version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
    </select>

    <select id="queryInCompleteIssueByVersionId" resultType="io.choerodon.agile.infra.dto.VersionIssueDTO">
        SELECT avir.issue_id, avir.relation_type,apv.name,avir.version_id
        FROM agile_version_issue_rel avir left join agile_product_version apv on apv.version_id = avir.version_id
        left join agile_issue ai on avir.issue_id = ai.issue_id left join agile_issue_status ais on ai.status_id = ais.status_id
        and ais.project_id = ai.project_id
        WHERE avir.project_id = #{projectId}
        AND avir.version_id = #{versionId} and ais.is_completed != 1
    </select>

    <select id="queryVersionIssueByVersionId" resultType="io.choerodon.agile.infra.dto.VersionIssueDTO">
        SELECT avir.issue_id, avir.relation_type,apv.name,avir.version_id
        FROM agile_version_issue_rel avir left join agile_product_version apv on apv.version_id = avir.version_id
        WHERE avir.project_id = #{projectId}
        AND avir.version_id = #{versionId}
    </select>

    <select id="queryStatusIssueCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        agile_version_issue_rel avir,
        agile_issue ai
        WHERE
        avir.project_id = #{projectId}
        AND avir.issue_id = ai.issue_id
        AND avir.version_id = #{versionId}
        AND ai.status_id IN
        <foreach collection="statusIds" item="statusId" index="index"
                 open="(" close=")" separator=",">
            #{statusId}
        </foreach>
        AND avir.relation_type = 'fix'
        AND ai.apply_type = 'agile'
    </select>

    <select id="queryByVersionId" resultType="io.choerodon.agile.api.vo.TestVersionFixVO">
        SELECT
            *
        FROM
            `agile_product_version`
    </select>


    <delete id="deleteByVersionIds">
        DELETE
        FROM agile_product_version
        WHERE project_id = #{projectId} AND version_id IN
        <foreach collection="versionIds" item="versionId" index="index"
                 open="(" close=")" separator=",">
            #{versionId}
        </foreach>
    </delete>

    <update id="releaseVersion">
        UPDATE agile_product_version
        SET status_code     = 'released',
            release_date    = #{releaseDate},
            old_status_code = 'version_planning'
        WHERE project_id = #{projectId} AND version_id = #{versionId}
    </update>

    <select id="queryIssueCountByApplyType" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM agile_issue ai
        WHERE ai.project_id = #{projectId}
        and ai.issue_id in (
           SELECT ai.issue_id
           FROM agile_version_issue_rel avir, agile_issue ai
           WHERE avir.version_id = #{versionId}
           AND avir.issue_id = ai.issue_id
           AND ai.project_id = #{projectId}
           and ai.apply_type = #{applyType}
        )
    </select>

    <select id="queryVersionNames" resultType="io.choerodon.agile.infra.dto.ProductVersionNameDTO">
        SELECT
            version_id,
            name
        FROM agile_product_version
        WHERE project_id = #{projectId} AND version_id != #{versionId}
              AND status_code != 'archived'
    </select>

    <select id="queryNameByOptions" resultType="io.choerodon.agile.infra.dto.ProductVersionNameDTO">
        SELECT version_id, name, status_code,release_date, expect_release_date
        FROM agile_product_version
        WHERE project_id = #{projectId}
        <if test="statusCodes != null and statusCodes.size > 0">
            AND status_code IN
            <foreach collection="statusCodes" item="statusCode"
                     open="(" close=")" separator=",">
                #{statusCode}
            </foreach>
        </if>
        ORDER BY version_id DESC
    </select>

    <select id="listByProjectId" resultType="io.choerodon.agile.infra.dto.ProductVersionCommonDTO">
        SELECT
            apv.*,
            alv.`name` AS status_name
        FROM
            agile_product_version apv
            LEFT JOIN lookup_value alv ON apv.status_code = alv.value_code
        WHERE
            apv.project_id = #{projectId}
    </select>

    <select id="selectVersionRelsByIssueId" resultType="io.choerodon.agile.infra.dto.ProductVersionDTO">
        SELECT
            avir.version_id AS version_id,
            avir.issue_id   AS issue_id,
            apv.`name`,
            avir.relation_type
        FROM
            agile_version_issue_rel avir
            LEFT JOIN agile_product_version apv ON avir.version_id = apv.version_id
        WHERE avir.project_id = #{projectId}
              AND avir.issue_id = #{issueId}
    </select>

    <select id="listIds" resultType="java.lang.Long">
        SELECT version_id
        FROM
            agile_product_version
        ORDER BY
            version_id
    </select>

    <select id="queryVersionRelByIssueIdAndTypeArchivedExceptInfluence"
            resultType="io.choerodon.agile.infra.dto.ProductVersionDTO">
        SELECT
        avir.version_id AS version_id,
        avir.issue_id AS issue_id,
        apv.`name`,
        avir.relation_type,
        avir.project_id
        FROM
        agile_version_issue_rel avir
        LEFT JOIN agile_product_version apv ON avir.version_id = apv.version_id
        WHERE avir.project_id = #{projectId}
        AND avir.issue_id = #{issueId}
        AND avir.relation_type = #{relationType}
        <if test='relationType == "fix"'>
            and apv.status_code != 'archived'
        </if>
    </select>

    <update id="batchUpdateSequence">
        UPDATE agile_product_version
        SET sequence = (sequence + #{add})
        WHERE sequence &gt;= #{sequence} AND project_id = #{projectId} and version_id != #{versionId}
    </update>

    <select id="queryMaxSequenceByProject" resultType="java.lang.Integer">
        SELECT apv.sequence
        FROM
            agile_product_version apv
        WHERE apv.project_id = #{projectId}
        ORDER BY sequence DESC
        LIMIT 1;
    </select>

    <select id="queryMaxAfterSequence" resultType="java.lang.Integer">
        SELECT apv.sequence
        FROM
            agile_product_version apv
        WHERE apv.project_id = #{projectId} AND apv.sequence &lt; #{sequence}
        ORDER BY sequence DESC
        LIMIT 1;
    </select>

    <select id="queryMinBeforeSequence" resultType="java.lang.Integer">
        SELECT apv.sequence
        FROM
            agile_product_version apv
        WHERE apv.project_id = #{projectId} AND apv.sequence &gt; #{sequence}
        ORDER BY sequence ASC
        LIMIT 1;
    </select>

    <select id="listAppVersionByOption" resultType="io.choerodon.agile.api.vo.AppVersionVO">
        SELECT
            aav.id,
            aav.group_id,
            aav.artifact_id,
            aav.version,
            aav.version_alias,
            aav.service_code,
            aav.project_id,
            aav.organization_id,
            aav.object_version_number
        FROM agile_app_version aav
        WHERE
            aav.id IN (
                SELECT
                apavr.app_version_id
                FROM
                agile_product_app_version_rel apavr
                WHERE
                apavr.project_id = #{projectId}
                AND apavr.product_version_id = #{versionId}
            )
        AND aav.project_id = #{projectId}
    </select>

    <select id="listUnRelAppVersionByOption" resultType="io.choerodon.agile.api.vo.AppVersionVO">
        SELECT
            aav.id,
            aav.group_id,
            aav.artifact_id,
            aav.version,
            aav.version_alias,
            aav.service_code,
            aav.project_id,
            aav.organization_id,
            aav.object_version_number
        FROM agile_app_version aav
        LEFT JOIN agile_product_app_version_rel apavr ON apavr.app_version_id = aav.id AND apavr.product_version_id = #{versionId}
        WHERE aav.project_id = #{projectId}
        AND apavr.id IS NULL
        AND aav.service_code = #{appVersionSearchVO.serviceCode}
        <if test="appVersionSearchVO.content != null and !''.equals(appVersionSearchVO.content)">
            <bind name="contentLike" value="'%' + appVersionSearchVO.content + '%'"/>
            AND (aav.version LIKE #{contentLike}
            OR aav.version_alias LIKE #{contentLike})
        </if>
    </select>

    <resultMap id="versionStoryMap" type="io.choerodon.agile.infra.dto.business.IssueDTO">
        <id column="issue_id" property="issueId"/>
        <id column="issue_num" property="issueNum"/>
        <id column="status_id" property="statusId"/>
        <id column="summary" property="summary"/>
        <id column="assignee_id" property="assigneeId"/>
        <id column="project_id" property="projectId"/>
        <collection property="appVersions"
                    ofType="io.choerodon.agile.infra.dto.AppVersionDTO">
            <id property="id" column="app_version_id"/>
            <result property="artifactId" column="artifact_id"/>
            <result property="serviceCode" column="service_code"/>
            <result property="version" column="version"/>
            <result property="versionAlias" column="version_alias"/>
        </collection>
    </resultMap>

    <select id="listRelStoryByOption" resultMap="versionStoryMap">
        SELECT
        search.issue_id,
        search.summary,
        search.status_id,
        search.assignee_id,
        search.project_id,
        search.issue_num,
        search.app_version_id,
        search.service_code,
        search.version,
        search.version_alias,
        search.artifact_id
        FROM
        (SELECT
        ai.issue_id,
        ai.summary,
        ai.status_id,
        ai.assignee_id,
        ai.project_id,
        CONCAT(api.project_code,'-', ai.issue_num) as issue_num,
        aav.id app_version_id,
        aav.service_code,
        aav.version,
        aav.version_alias,
        aav.artifact_id
        FROM agile_issue ai
        LEFT JOIN agile_issue_status ais on ais.status_id = ai.status_id and ais.project_id = ai.project_id
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        LEFT JOIN agile_app_version_issue_rel aavir on aavir.issue_id = ai.issue_id
        LEFT JOIN agile_app_version aav on aavir.app_version_id = aav.id
        WHERE
            ai.type_code = 'story'
        AND ais.is_completed = 1
        AND ai.issue_id IN
        (SELECT aavir2.issue_id
            FROM agile_app_version_issue_rel aavir2
            WHERE aavir2.app_version_id IN (
                SELECT apavr.app_version_id
                FROM agile_product_app_version_rel apavr
                WHERE apavr.project_id = #{projectId} AND apavr.product_version_id = #{versionId}))
        <if test='searchVO.searchArgs != null'>
            <if test='searchVO.searchArgs.summary != null and searchVO.searchArgs.summary != "" '>
                AND ai.summary LIKE concat(concat('%',#{searchVO.searchArgs.summary}),'%')
            </if>
        </if>
        <if test='searchVO.advancedSearchArgs != null'>
            <if test='searchVO.advancedSearchArgs.statusId != null and searchVO.advancedSearchArgs.statusId.size > 0'>
                and ai.status_id in
                <foreach collection="searchVO.advancedSearchArgs.statusId" item="statusId" open="(" separator=","
                         close=")">
                    #{statusId}
                </foreach>
            </if>
        </if>
        <if test='searchVO.otherArgs != null'>
            <if test='searchVO.otherArgs.appVersion != null and searchVO.otherArgs.appVersion.size > 0'>
                AND (
                ai.issue_id in ( SELECT avir3.issue_id FROM
                agile_app_version_issue_rel aavir3 WHERE aavir3.app_version_id in
                <foreach collection="searchVO.otherArgs.appVersion" item="id" open="(" separator=","
                         close=")">
                    #{id}
                </foreach>))
            </if>
            <if test='searchVO.otherArgs.feature != null and searchVO.otherArgs.feature.size > 0'>
                AND (
                <if test='searchVO.otherArgs.featureNull != null and searchVO.otherArgs.featureNull == true'>
                    ((ai.feature_id is null or ai.feature_id = 0) and ai.type_code in ('story'))
                    OR
                </if>
                (ai.feature_id in
                <foreach collection="searchVO.otherArgs.feature" item="id" open="(" separator=","
                         close=")">
                    #{id}
                </foreach>
                and ai.type_code in ('story'))
                )
            </if>
            <if test='searchVO.otherArgs.assigneeId != null and searchVO.otherArgs.assigneeId.size > 0'>
                AND (
                <if test='searchVO.otherArgs.assigneeIdNull != null and searchVO.otherArgs.assigneeIdNull == true'>
                    (ai.assignee_id = 0 or ai.assignee_id is null) OR
                </if>
                ai.assignee_id in
                <foreach collection="searchVO.otherArgs.assigneeId" item="aId" open="(" separator=","
                         close=")">
                    #{aId}
                </foreach>
                )
            </if>
        </if>) search
        <where>
            <if test='searchVO.searchArgs != null'>
                <if test='searchVO.searchArgs.issueNum != null and searchVO.searchArgs.issueNum != ""'>
                    AND search.issue_num LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.issueNum}) ,'%')
                </if>
            </if>
        </where>
    </select>

    <resultMap id="versionStoryBug" type="io.choerodon.agile.infra.dto.business.IssueDTO">
        <id column="issue_id" property="issueId"/>
        <id column="issue_num" property="issueNum"/>
        <id column="status_id" property="statusId"/>
        <id column="summary" property="summary"/>
        <id column="assignee_id" property="assigneeId"/>
        <id column="project_id" property="projectId"/>
        <id column="priority_id" property="priorityId"/>
        <collection property="versionIssueRelDTOS"
                    ofType="io.choerodon.agile.infra.dto.VersionIssueRelDTO">
            <id property="versionId" column="version_id"/>
            <result property="statusCode" column="version_status_code"/>
            <result property="relationType" column="relation_type"/>
            <result property="issueId" column="version_issue_id"/>
            <result property="projectId" column="version_project_id"/>
            <result property="name" column="version_name"/>
        </collection>
    </resultMap>

    <select id="listRelBugByOption" resultMap="versionStoryBug">
        SELECT
        search.issue_id,
        search.summary,
        search.status_id,
        search.assignee_id,
        search.project_id,
        search.priority_id,
        search.issue_num,
        search.version_id,
        search.version_status_code,
        search.version_name,
        search.relation_type,
        search.version_project_id,
        search.version_issue_id
        FROM (
        SELECT
        ai.issue_id,
        ai.summary,
        ai.status_id,
        ai.assignee_id,
        ai.project_id,
        ai.priority_id,
        CONCAT(api.project_code,'-', ai.issue_num) as issue_num,
        apv.version_id,
        apv.status_code as version_status_code,
        apv.name as version_name,
        avir.relation_type,
        avir.project_id as version_project_id,
        avir.issue_id as version_issue_id
        FROM agile_issue ai
        LEFT JOIN agile_issue_status ais on ais.status_id = ai.status_id and ais.project_id = ai.project_id
        LEFT JOIN agile_project_info api ON ai.project_id = api.project_id
        LEFT JOIN agile_version_issue_rel avir on avir.issue_id = ai.issue_id and avir.relation_type = 'influence'
        LEFT JOIN agile_product_version apv on avir.version_id = apv.version_id
        WHERE
        ai.type_code = 'story'
        AND ais.is_completed = 1
        AND ai.issue_id IN
        (SELECT aavir2.issue_id
        FROM agile_app_version_issue_rel aavir2
        WHERE aavir2.app_version_id IN (
        SELECT apavr.app_version_id
        FROM agile_product_app_version_rel apavr
        WHERE apavr.project_id = #{projectId} AND apavr.product_version_id = #{versionId}))
        <if test='searchVO.searchArgs != null'>
            <if test='searchVO.searchArgs.summary != null and searchVO.searchArgs.summary != ""'>
                AND ai.summary LIKE concat(concat('%',#{searchVO.searchArgs.summary}),'%')
            </if>
        </if>
        <if test='searchVO.advancedSearchArgs != null'>
            <if test='searchVO.advancedSearchArgs.statusId != null and searchVO.advancedSearchArgs.statusId.size > 0'>
                and ai.status_id in
                <foreach collection="searchVO.advancedSearchArgs.statusId" item="statusId" open="(" separator=","
                         close=")">
                    #{statusId}
                </foreach>
            </if>
            <if test='searchVO.advancedSearchArgs.priorityId != null and searchVO.advancedSearchArgs.priorityId.size > 0'>
                AND ai.priority_id IN
                <foreach collection="searchVO.advancedSearchArgs.priorityId" item="priorityId" open="(" separator=","
                         close=")">
                    #{priorityId}
                </foreach>
            </if>
        </if>
        <if test='searchVO.otherArgs != null'>
            <if test='searchVO.otherArgs.influenceVersion != null and searchVO.otherArgs.influenceVersion.size > 0'>
                AND (
                <if test='searchVO.otherArgs.influenceVersionNull != null and searchVO.otherArgs.influenceVersionNull == true'>
                    ai.issue_id in (SELECT ai31.issue_id from agile_issue ai31
                    left join agile_version_issue_rel avir44
                    on ai31.issue_id = avir44.issue_id
                    WHERE avir44.version_id is null ) OR
                </if>
                ai.issue_id in ( SELECT avir3.issue_id FROM
                agile_version_issue_rel avir3 WHERE avir3.version_id in
                <foreach collection="searchVO.otherArgs.influenceVersion" item="id" open="(" separator=","
                         close=")">
                    #{id}
                </foreach>
                AND relation_type = 'influence'
                )
                )
            </if>
            <if test='searchVO.otherArgs.assigneeId != null and searchVO.otherArgs.assigneeId.size > 0'>
                AND (
                <if test='searchVO.otherArgs.assigneeIdNull != null and searchVO.otherArgs.assigneeIdNull == true'>
                    (ai.assignee_id = 0 or ai.assignee_id is null) OR
                </if>
                ai.assignee_id in
                <foreach collection="searchVO.otherArgs.assigneeId" item="aId" open="(" separator=","
                         close=")">
                    #{aId}
                </foreach>
                )
            </if>
        </if>) search
        <where>
            <if test='searchVO.searchArgs != null'>
                <if test='searchVO.searchArgs.issueNum != null and searchVO.searchArgs.issueNum != ""'>
                    AND search.issue_num LIKE CONCAT(CONCAT('%' ,#{searchVO.searchArgs.issueNum}) ,'%')
                </if>
            </if>
        </where>
    </select>
</mapper>