<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD BaseMapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.PublishVersionTreeClosureMapper">
    <insert id="batchInsert">
        insert into agile_publish_version_tree_closure
        (ancestor_id, descendant_id, descendant_parent, project_id, organization_id, created_by, last_updated_by)
        values
        <foreach collection="insertSet" item="item"  separator=",">
            (
            #{item.ancestorId},
            #{item.descendantId},
            #{item.descendantParent},
            #{item.projectId},
            #{item.organizationId},
            #{operator},
            #{operator}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete apvtc.*
        from agile_publish_version_tree_closure apvtc
        where apvtc.organization_id = #{organizationId}
        and apvtc.project_id = #{projectId}
        and apvtc.ancestor_id in
        <foreach collection="deleteSet" item="item" open="(" separator="," close=")">
            #{item.ancestorId}
        </foreach>
        and apvtc.descendant_id in
        <foreach collection="deleteSet" item="item" open="(" separator="," close=")">
            #{item.descendantId}
        </foreach>
        and apvtc.descendant_parent in
        <foreach collection="deleteSet" item="item" open="(" separator="," close=")">
            #{item.descendantParent}
        </foreach>
    </delete>
    <delete id="deleteAssociatedData">
        delete from agile_publish_version_tree_closure
        where organization_id = #{organizationId}
        and project_id = #{projectId}
        and (ancestor_id = #{publishVersionId} or descendant_id = #{publishVersionId})
    </delete>

    <select id="selectAncestors" resultType="io.choerodon.agile.infra.dto.PublishVersionTreeClosureDTO">
        select apvtc.*
        from agile_publish_version_tree_closure apvtc
        where apvtc.project_id = #{projectId}
        and apvtc.organization_id = #{organizationId}
        and apvtc.descendant_id = #{descendantId}
    </select>

    <select id="selectDescendants" resultType="io.choerodon.agile.infra.dto.PublishVersionTreeClosureDTO">
        select apvtc.*
        from agile_publish_version_tree_closure apvtc
        where apvtc.organization_id = #{organizationId}
        and apvtc.project_id in
        <foreach collection="projectIds" item="projectId" open="(" separator="," close=")">
            #{projectId}
        </foreach>
        and apvtc.ancestor_id in
        <foreach collection="ancestorIds" item="ancestorId" open="(" separator="," close=")">
            #{ancestorId}
        </foreach>
        <if test="descendantParent != null">
            apvtc.descendant_parent = #{descendantParent}
        </if>
    </select>

    <select id="selectInList" resultType="io.choerodon.agile.infra.dto.PublishVersionTreeClosureDTO">
        select apvtc.*
        from agile_publish_version_tree_closure apvtc
        where apvtc.organization_id = #{organizationId}
        and apvtc.project_id = #{projectId}
        and apvtc.ancestor_id in
        <foreach collection="descendantSet" item="item" open="(" separator="," close=")">
            #{item.ancestorId}
        </foreach>
        and apvtc.descendant_id in
        <foreach collection="descendantSet" item="item" open="(" separator="," close=")">
            #{item.descendantId}
        </foreach>
        and apvtc.descendant_parent in
        <foreach collection="descendantSet" item="item" open="(" separator="," close=")">
            #{item.descendantParent}
        </foreach>
    </select>

    <select id="selectAncestorsByIds" resultType="io.choerodon.agile.infra.dto.PublishVersionTreeClosureDTO">
        select
        apvtc.descendant_id,
        apvtc.descendant_parent,
        apvtc.project_id,
        apvtc.organization_id
        from agile_publish_version_tree_closure apvtc
        where apvtc.organization_id = #{organizationId}
        and apvtc.project_id = #{projectId}
        and apvtc.ancestor_id in
        <foreach collection="ancestorIds" item="ancestorId" open="(" separator="," close=")">
            #{ancestorId}
        </foreach>
        and apvtc.descendant_id in
        <foreach collection="descendantSet" item="item" open="(" separator="," close=")">
            #{item.descendantId}
        </foreach>
        and apvtc.descendant_parent in
        <foreach collection="descendantSet" item="item" open="(" separator="," close=")">
            #{item.descendantParent}
        </foreach>
    </select>
</mapper>