<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.StatusMachineTransformMapper">

    <select id="queryById" resultType="io.choerodon.agile.infra.dto.StatusMachineTransformDTO">
        SELECT
        smt.*,
        smn.status_id as endStatusId
        FROM fd_status_machine_transform smt
        LEFT JOIN fd_status_machine_node smn ON smn.id = smt.end_node_id
        where smt.organization_id = #{organizationId}
        and smt.id = #{id}
    </select>

    <update id="deleteByNodeId">
        DELETE FROM fd_status_machine_transform
        WHERE start_node_id = #{nodeId} OR end_node_id = #{nodeId}
    </update>

    <delete id="deleteByStateMachineIdAndNodeId">
        DELETE FROM fd_status_machine_transform
        WHERE
        organization_id = #{organizationId}
        AND state_machine_id = #{stateMachineId}
        AND (
           start_node_id = #{nodeId} OR end_node_id = #{nodeId}
        )
    </delete>

    <insert id="migrateStatusMachineTransform">
        insert into fd_status_machine_transform
        select * from fd_state_machine_transform
    </insert>

    <select id="selectTransformByStatusId" resultType="io.choerodon.agile.infra.dto.StatusMachineTransformDTO">
        select
            fsmt.*
        from
            fd_status_machine_transform fsmt,
        <if test="!transformAllFlag">
            fd_status_machine_node fsmns,
        </if>
            fd_status_machine_node fsmne
        where
            fsmt.organization_id = #{organizationId}
        AND fsmt.state_machine_id = #{stateMachineId}
        <if test="!transformAllFlag">
            AND fsmns.id = fsmt.start_node_id
            AND fsmns.state_machine_id = fsmt.state_machine_id
            AND fsmns.status_id = #{statusId}
        </if>
        <if test="transformAllFlag">
            AND fsmt.type = 'transform_all'
        </if>
        AND fsmne.id = fsmt.end_node_id
        AND fsmne.state_machine_id = fsmt.state_machine_id
        AND fsmne.status_id = #{changeStatus}
    </select>

    <select id="queryByStartNodeIdOrType" resultType="io.choerodon.agile.infra.dto.StatusMachineTransformDTO">
        SELECT *
        FROM fd_status_machine_transform
        WHERE organization_id = #{organizationId}
        and state_machine_id = #{stateMachineId}
        and (
          start_node_id = #{startNodeId}
          OR
          type = #{transformType}
        )
    </select>

    <select id="queryByStateMachineIds" resultType="io.choerodon.agile.infra.dto.StatusMachineTransformDTO">
        SELECT
        smt.*,
        smn.status_id as endStatusId
        FROM fd_status_machine_transform smt
        LEFT JOIN fd_status_machine_node smn ON smn.organization_id = smt.organization_id AND  smn.id = smt.end_node_id
        where smt.organization_id = #{organizationId}
        and smt.state_machine_id in
        <foreach collection="stateMachineIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into fd_status_machine_transform(name,description,state_machine_id
        ,start_node_id,end_node_id,type,condition_strategy,organization_id,created_by,last_updated_by)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.description},#{item.stateMachineId}
            ,#{item.startNodeId},#{item.endNodeId}
            ,#{item.type},#{item.conditionStrategy}
            ,#{item.organizationId},#{item.createdBy},#{item.lastUpdatedBy})
        </foreach>
    </insert>
</mapper>
