<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.StatusLinkageMapper">
    <select id="selectByStatusIds" resultType="io.choerodon.agile.infra.dto.StatusLinkageDTO">
     select * from fd_status_linkage fsl
     where fsl.project_id = #{projectId}
     AND fsl.issue_type_id = #{issueTypeId}
     AND fsl.status_id in
     <foreach collection="statusIds" item="statusId" open="(" close=")" separator=",">
         #{statusId}
     </foreach>
    </select>

    <select id="listByIssueTypeIdsParentTypeId" resultType="io.choerodon.agile.infra.dto.StatusLinkageDTO">
        select * from fd_status_linkage fsl
        where fsl.project_id = #{projectId}
        AND fsl.parent_issue_type_id = #{parentIssueTypeId}
        AND fsl.parent_issue_status_setting = #{parentChangeStatusId}
        AND fsl.issue_type_id in
        <foreach collection="issueTypeIds" item="issueTypeId" open="(" close=")" separator=",">
            #{issueTypeId}
        </foreach>
    </select>

    <resultMap id="statusLinkageWithIssueTypeAndStatus" type="io.choerodon.agile.api.vo.StatusLinkageVO">
        <result property="issueTypeId" column="issue_type_id"/>
        <result property="projectId" column="project_id"/>
        <result property="statusId" column="status_id"/>
        <association property="issueTypeVO" javaType="io.choerodon.agile.api.vo.IssueTypeVO">
            <id property="id" column="issue_type_id"/>
            <result property="name" column="issue_type_name"/>
        </association>
        <association property="statusVO" javaType="io.choerodon.agile.api.vo.StatusVO">
            <id property="id" column="status_id"/>
            <result property="name" column="status_name"/>
            <result property="code" column="status_code"/>
        </association>
    </resultMap>

    <select id="selectWithStatusByProjectId" resultMap="statusLinkageWithIssueTypeAndStatus">
        select
        t1.issue_type_id,
        t1.project_id,
        t1.status_id,
        t2.name as issue_type_name,
        t3.name as status_name,
        t3.code as status_code
        from fd_status_linkage t1
        left join fd_issue_type t2 on t1.issue_type_id = t2.id
        left join fd_status t3 on t1.status_id = t3.id
        where t1.project_id = #{projectId}
    </select>

    <select id="selectExistStatusLink" resultType="io.choerodon.agile.infra.dto.StatusLinkageDTO">
        SELECT fsl.* FROM fd_status_linkage fsl
        JOIN fd_issue_type fit on fit.id = fsl.issue_type_id
        WHERE fsl.project_id = #{projectId}
        AND fsl.issue_type_id  = #{issueTypeId} AND fsl.status_id = #{statusId}
        UNION ALL
        SELECT fsl.* FROM fd_status_linkage fsl
        JOIN fd_issue_type fit on fit.id = fsl.parent_issue_type_id
        WHERE fsl.project_id = #{projectId}
        AND fsl.parent_issue_type_id = #{issueTypeId}
        AND fsl.parent_issue_status_setting = #{statusId}
    </select>

    <select id="listOptions" resultType="io.choerodon.agile.infra.dto.StatusLinkageDTO">
        select * from fd_status_linkage fsl
        where  fsl.organization_id = #{organizationId}
        AND fsl.project_id = 0
        AND fsl.issue_type_id = #{issueTypeId}
        AND fsl.status_id in
        <foreach collection="statusIds" item="statusId" open="(" close=")" separator=",">
            #{statusId}
        </foreach>
    </select>

    <delete id="deleteByIssueTypeId">
        delete from fd_status_linkage
        <where>
            <if test="organizationId != null and organizationId != 0">
                and organization_id = #{organizationId}
            </if>
            <if test="projectId != null and projectId != 0">
                and project_id = #{projectId}
            </if>
            and (parent_issue_type_id = #{issueTypeId} or issue_type_id = #{issueTypeId})
        </where>
    </delete>
</mapper>