<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.StaticFileHeaderMapper">
    <select id="selectFileListExcludeIssue" resultType="io.choerodon.agile.infra.dto.StaticFileHeaderDTO">
        SELECT
            asfh.id,
            asfh.project_id,
            asfh.organization_id,
            asfh.url,
            asfh.file_name,
            asfh.creation_date
        FROM
            agile_static_file_header asfh
        LEFT JOIN agile_issue_static_file_rel asfir ON asfir.static_file_id = asfh.id AND asfir.issue_id = #{issueId}
        WHERE
            asfh.project_id = #{projectId}
            AND asfir.id IS NULL
    </select>

    <select id="selectFileListByIssue" resultType="io.choerodon.agile.infra.dto.StaticFileHeaderDTO">
        SELECT
        id,
        project_id,
        organization_id,
        url,
        file_name,
        creation_date
        FROM agile_static_file_header asfh
        WHERE
        asfh.project_id = #{projectId}
        AND asfh.id in (
        SELECT asfir.static_file_id FROM agile_issue_static_file_rel asfir
        WHERE asfir.issue_id = #{issueId}
        AND asfir.project_id = #{projectId})
    </select>
</mapper>