<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.StatusTransferSettingMapper">
    <select id="listByStatusId" resultType="io.choerodon.agile.infra.dto.StatusTransferSettingDTO">
         select fsts.* from fd_status_transfer_setting fsts
         where fsts.project_id = #{projectId}
         AND fsts.issue_type_id = #{issueTypeId}
         AND fsts.status_id in
         <foreach collection="statusIds" item="statusId" open="(" separator="," close=")">
             #{statusId}
         </foreach>
    </select>

    <select id="listOptions" resultType="io.choerodon.agile.infra.dto.StatusTransferSettingDTO">
        select fsts.* from fd_status_transfer_setting fsts
        where fsts.organization_id = #{organizationId}
        AND fsts.project_id = 0
        AND fsts.issue_type_id = #{issueTypeId}
        AND fsts.status_id in
        <foreach collection="statusIds" item="statusId" open="(" separator="," close=")">
            #{statusId}
        </foreach>
    </select>

    <select id="queryStatusTransferByIssueTypeAndUserType" resultType="java.lang.Long">
        select fsts.status_id from fd_status_transfer_setting fsts
        where fsts.organization_id = #{organizationId}
        AND fsts.project_id = #{projectId}
        AND fsts.issue_type_id = #{issueTypeId}
        AND fsts.user_type = #{userType}
    </select>

    <delete id="deleteByIssueTypeId">
        delete from fd_status_transfer_setting
        <where>
            <if test="organizationId != null and organizationId != 0">
                and organization_id = #{organizationId}
            </if>
            <if test="projectId != null and projectId != 0">
                and project_id = #{projectId}
            </if>
            and issue_type_id = #{issueTypeId}
        </where>
    </delete>
</mapper>