<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.agile.infra.mapper.StatusMachineSchemeConfigMapper">

    <select id="selectDefault" resultType="io.choerodon.agile.infra.dto.StatusMachineSchemeConfigDTO">
        SELECT
        smsc.*
        FROM
        fd_status_machine_scheme_config smsc
        WHERE
        smsc.organization_id = #{organizationId}
        AND smsc.scheme_id = #{schemeId}
        AND smsc.is_default = 1
    </select>

    <select id="queryByStateMachineIds" resultType="io.choerodon.agile.infra.dto.StatusMachineSchemeConfigDTO">
        SELECT
        smsc.*
        FROM
        fd_status_machine_scheme_config smsc
        WHERE
        smsc.organization_id = #{organizationId}
        AND smsc.state_machine_id IN
        <foreach item="item" index="index" collection="stateMachineIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryByOrgId" resultType="io.choerodon.agile.infra.dto.StatusMachineSchemeConfigDTO">
        SELECT
        smsc.*
        FROM
        fd_status_machine_scheme_config smsc
        WHERE
        smsc.organization_id = #{organizationId}
    </select>

    <select id="selectBySchemeIds" resultType="io.choerodon.agile.infra.dto.StatusMachineSchemeConfigDTO">
        select * from fd_status_machine_scheme_config
        where organization_id = #{organizationId}
        and scheme_id in
        <foreach item="item" index="index" collection="schemeIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectStatusMachineIdByIssueTypeId" resultType="java.lang.Long">
        select
            smsc.state_machine_id
        from fd_status_machine_scheme_config smsc
        where
         smsc.organization_id = #{organizationId}
         AND smsc.scheme_id in (
           select scheme_id from fd_project_config
           where project_id = #{projectId}
           and scheme_type = 'scheme_state_machine'
           and apply_type = #{applyType}
         )
         AND smsc.issue_type_id = #{issueTypeId}

    </select>

    <insert id="migrateStatusMachineSchemeConfig">
       insert into fd_status_machine_scheme_config
       select * from fd_state_machine_scheme_config
    </insert>

    <select id="queryStatusMachineMapByAppleTypes" resultType="io.choerodon.agile.api.vo.StatusMachineSchemeConfigVO">
        select
        fsmc.*,
        fpc.apply_type
        from fd_status_machine_scheme_config fsmc
        left join fd_project_config fpc on fpc.scheme_id  = fsmc.scheme_id
        where fpc.project_id = #{projectId}
        and fsmc.organization_id = #{organizationId}
        and fpc.scheme_type = 'scheme_state_machine'
        and fpc.apply_type in
        <foreach collection="applyTypes" item="applyType"  open="(" close=")" separator=",">
            #{applyType}
        </foreach>
    </select>

</mapper>
