<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.agile.infra.mapper.StatusNoticeSettingMapper">
    <delete id="deleteByIssueTypeId">
        delete from fd_status_notice_setting
        <where>
            <if test="organizationId != null and organizationId != 0">
                and organization_id = #{organizationId}
            </if>
            <if test="projectId != null and projectId != 0">
                and project_id = #{projectId}
            </if>
            and issue_type_id = #{issueTypeId}
        </where>

    </delete>
</mapper>