<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.TagCompareHistoryMapper">


    <select id="selectByAppServiceCodes" resultType="io.choerodon.agile.infra.dto.TagCompareHistoryDTO">
        select *
        from agile_tag_compare_history
        where organization_id = #{organizationId}
        and project_id = #{projectId}
        and app_service_code in
        <foreach collection="appServiceCodes" item="appServiceCode" open="(" separator="," close=")">
            #{appServiceCode}
        </foreach>
    </select>

    <select id="selectLastCompareHistory" resultType="io.choerodon.agile.infra.dto.TagCompareHistoryDTO">
        SELECT
            atch.id,
            atch.publish_version_id,
            atch.app_service_code,
            atch.source,
            atch.target,
            atch.project_id,
            atch.organization_id,
            atch.object_version_number,
            atch.created_by,
            atch.creation_date,
            atch.last_updated_by,
            atch.last_update_date
        FROM
            agile_tag_compare_history atch
        WHERE
            atch.id IN (
                    SELECT
                        MAX( id )
                    FROM
                        agile_tag_compare_history
                    WHERE
                        publish_version_id = #{publishVersionId}
                    AND project_id = #{projectId}
                    AND organization_id = #{organizationId}
                    GROUP BY app_service_code
                  )
    </select>
</mapper>