<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.agile.infra.mapper.WorkCalendarSubscribeMapper">

    <select id="queryByUserIds" resultType="io.choerodon.agile.infra.dto.WorkCalendarSubscribeDTO">
        select
            id,
            user_id,
            organization_id,
            file_url,
            is_changed as changed,
            object_version_number
        from agile_work_calendar_subscribe
        where organization_id = #{organizationId}
        and user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
</mapper>