.c7n-agile-export-issue-modal {
  &-form {

    &-title {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: .03rem;
      & >span {
        font-size: 14px;
        font-weight: 500;
        // padding-right: .1rem;
        line-height: 16px;
      }
      // .c7n-pro-btn {
      //   span {
      //     display: inline-block;
      //     padding-bottom: .02rem;
      //   }
      // }
    }
    &-block {
      display: inline-block;
      margin-right: 6px;
      width: 3px;
      height: 16px;
      background: #798DFB;
      border-radius: 2px;
    }
    &-content {
      .c7n-pro-btn {
        padding-left: 0;
      }
    }

    &-template {
      margin-bottom: .35rem;
    }
    .c7n-pro-form {
      margin-top: .06rem;
    }
  }
  &-wsProgress-area {
    width: 100%;
  }
  &-check-box {
    .c7n-pro-checkbox-inner + span {
      padding-right: .1rem;
      padding-left: .04rem;
    }
    // padding-right: .1rem;
    // padding-bottom: .12rem;
  }

  .c7n-agile-ws-progress-area {
    margin-bottom: 10px;
  }

  .c7n-pro-modal-header {
    padding-left: .2rem;
  }

  .c7n-pro-modal-body {
    padding: .2rem;
    overflow-x: hidden;
  }

  .c7n-pro-btn >.icon {
    font-size: .18rem;
  }

  &-form-filter {
    margin-bottom: 0.35rem;
    .c7n-pro-form {
      margin-top: .11rem;

      tbody {
        tr:not(:first-child) {
          .c7n-pro-field-wrapper {
            margin-top: .16rem;
          }
        }
      }
    }
  }

  .c7n-pro-form-float-label .c7n-pro-field-wrapper {
    margin-bottom: 0;
  }
  .c7n-pro-field-wrapper {
    padding-top: 0;
  }
  .c7n-agile-ws-finish {
    margin-top: .1rem;
  }

  .c7n-exportIssue-btn {
    background: rgba(83, 101, 234, 0.14);
    border-radius: 4px;
  }
  &-btns {
    margin-top: .1rem;
    margin-bottom: .16rem;
  }
}
